extends layout
block content
	strong Bem vindo(a), #{session.nome}
	ul.nav.nav-justified
		li
			a(href='/sliderprinc' title="Clique para cadastrar as imagens do slider principal") Slider Principal
		li
			a(href='/slidersecund' title="Clique para cadastrar as imagens do slider secundário") Slider Secundário
		li
			a(href='/fotosempresa' title="Clique para cadastrar as imagens da empresa") Empresa
		li
			a(href='/distribuidores' title="Clique para cadastrar as imagens e os links dos distribuídores") Distribuídores
		li
			a(href='/clientes' title="Clique para cadastrar as imagens dos clientes") Clientes	
		li
			a#orcamentoTelaAdmin(href='/orcamento' title="Clique para ver os orçamentos recebidos") Orçamentos
		li
			a.logout(href='/logout' name=""+session.nome id=""+session._id title="Clique para sair do painel de configuração do aplicativo WEB") [sair]
	block content2