doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= title
		link(rel='stylesheet', href='/stylesheets/css/libs/booststrap-aux.css')
		link(rel='stylesheet', href='/stylesheets/css/libs/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/css/mylibs/admin/alert.css')
		link(rel='stylesheet', href='/stylesheets/css/mylibs/loading.css')
		link(rel=' stylesheet ', type=' text / css ', href='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')
		block style
	body
		div.container
			if isLogged
				block content
		block login
		block modal
	include iconSVG

	script(src="/js/jquery-3.2.1.min.js")
	script(src="js/jquery.base64.js")
	script(src="/js/bootstrap.min.js")
	script(src="/js/funcoes.js")
	script(src="/js/bootstrap-datepicker.js")
	script(src="/js/bootstrap-datepicker.pt-BR.js")
	script(src="js/jquery.maskedinput.js")
	script(src="js/notify.js")
	//- script(src="/js/moment.js")
	//- script(type=' text / javascript ', src='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')


	block scripts