extends layout
block login
	form(method="POST",action="/login",class="form-login")
		h2(style='text-shadow: 0em 0em 0.12em rgb(12, 82, 210);') Painel de Configuração do Aplicativo WEB
		h3 Entrar no Sistema
		p Preencha os campos necessários para acessar.

		if messages.erro
			br
			div(class="alert alert-danger")
				each msg in messages.erro
					b= msg
					br
		div(class="form-group")
			label E-mail
			input(type="email", class="form-control", name="email", placeholder="E-mail" autofocus required)
		div(class='form-group')
			label Senha
			input(type="password", class="form-control", name="password", placeholder="Senha" required)
		button(type="submit", class="btn btn-primary btn-block") Entrar