extends home
block style
	link(rel='stylesheet', href='/stylesheets/css/mylibs/admin/orcamento.css')

block content2
	aside.titulo.slider
		h5 Orcamentos dos Clientes
		.row
			.col-sm-4
			.col-sm-4
				label.btn.btn-default.beds-baths.beds-baths-1.btnRadios(title="Clique para ver os orçamentos que ainda se encontram ativos")
					input#option1(type='radio', name='options', value='ativo', checked)
					span.icon.icon-blank-space
					span.beds-baths-word ATIVOS
				label.btn.btn-default.beds-baths.beds-baths-2(title="Clique para ver os orçamentos que já foram completamente finalizados")
					input#option2(type='radio', name='options', value='finalizado')
					span.icon.icon-blank-space
					span.beds-baths-word FINALIZADOS
			.col-sm-4
				button.btn-danger#propostasEnv.buscarRef(type='button' title="Clique para ver os orçamentos que já estão com propostas enviadas") PROPOSTAS ENVIADAS

	hr#hrSlider
	//- if lista
	table.table.table-bordered
		thead
			tr
				th.busca_nome Nome
					input#nomeInput(type="text" placeholder="Digite o nome" title="Digite o nome que desejar pesquisar")
					button.btn.buscarRef(type='button', aria-label='Alinhar na esquerda' title="clique para pesquisar pelo nome")
						span.glyphicon.glyphicon-search(aria-hidden='true')
				th.busca_email E-mail
					input#emailInput(type="text" placeholder="Digite o e-mail" title="Digite o e-mail que desejar pesquisar")
					button.btn.buscarRef(type='button', aria-label='Alinhar na esquerda' title="Clique para pesquisar pelo e-mail")
						span.glyphicon.glyphicon-search(aria-hidden='true')
				th.busca_telefone Telefone
					input#telefoneInput(type="text" placeholder="Digite o telefone" title="Digite o telefone que desejar pesquisar")
					button.btn.buscarRef(type='button', aria-label='Alinhar na esquerda' title="Clique para pesquisar pelo telefone")
						span.glyphicon.glyphicon-search(aria-hidden='true')
				th.busca_categoria Categoria
					input#categoriaInput(type="text" placeholder="Digite a categoria" title="Digite a categoria que desejar pesquisar")
					button.btn.buscarRef(type='button', aria-label='Alinhar na esquerda' title="Clique para pesquisar pela categoria")
						span.glyphicon.glyphicon-search(aria-hidden='true')
				th.busca_data
					span#spamData Data
					#datepicker.input-daterange.input-group
						input.input-sm.form-control#inicio(type='text', name='start' placeholder="De: " title="Clique e selecione a data que deseja pesquisar")
						span.input-group-addon to
						input.input-sm.form-control#fim(type='text', name='end' placeholder="Até: " title="Clique e selecione a data que deseja pesquisar")
					button.btn.buscarRef(type='button', aria-label='Alinhar na esquerda' title="Clique para pesquisar pela data")
						span.glyphicon.glyphicon-search(aria-hidden='true')
					//- input#inicioInput(placeholder="Inicio")
					//- input#fimInput(placeholder="Fim")
			tbody(id="tbody_orc" title="Clique para ver mais detalhes do orçamento")
				//- each valor in lista
				//- 	tr(id="#{valor._id}")
				//- 		td #{valor.nome}
				//- 		td #{valor.email}
				//- 		td
				//- 			input.telefone(value="#{valor.telefone}", readonly="true")
				//- 		td #{valor.categoria}
				//- 		if valor.data_cad.getDate() < 10 && valor.data_cad.getMonth() < 10
				//- 			td 0#{valor.data_cad.getDate()}/0#{valor.data_cad.getMonth()+1}/#{valor.data_cad.getUTCFullYear()}
				//- 		else if valor.data_cad.getDate() < 10
				//- 			td 0#{valor.data_cad.getDate()}/#{valor.data_cad.getMonth()+1}/#{valor.data_cad.getUTCFullYear()}
				//- 		else if valor.data_cad.getMonth() < 10
				//- 			td #{valor.data_cad.getDate()}/0#{valor.data_cad.getMonth()+1}/#{valor.data_cad.getUTCFullYear()}
				//- 		if valor.proposta == "Proposta Enviada"
				//- 			- var tdProposta = $("#"+this._id).find(".dataCad")
				//- 			var tdProposta = $("#"+this._id).find(".dataCad");
				//- 	tdProposta.html(tdProposta.text()+'<p class="esqCorProposta">Proposta Enviada</p>')

	nav#paginacaoOrc(aria-label='Page navigation')
		ul.pagination
		//- 		- var qnt = contador
		//- 		- var resto = qnt%10
		//- 		if resto
		//- 			- for(var i=1; i <= parseInt(qnt/10)+1; i++ ) 
		//- 				li.page-item
		//- 					a.page-link #{i}
		//- 					//- 	| #{i}
		//- 		else
		//- 			- for(var i=1; i<=qnt/10; i++ ) 
		//- 				li.page-item
		//- 					a.page-link #{i}
block scripts
	script(type='text/javascript', src='/js/jquery.magnific-popup.min.js')
	script(type='text/javascript', src='/js/admin/orcamento.js')
	//- script(type='text/javascript').
	//- 	var qnt = contador;
	//- 	var resto = qnt%10;
	//- 		if(resto){console.log(parseInt(qnt/10)+1)}else{console.log('entrou no else')}