extends home
block style
	link(rel='stylesheet', href='/stylesheets/css/mylibs/admin/sliderSecund.css')

block content2
	aside.titulo.slider
		h5 Cadastro de Slider Secundário
	hr#hrSlider
	aside.corpo#slider
		aside.direita
			aside.cimaDir
				h5 Carregar Foto
				button.btnCarregarFoto(type='button') Carregar
			aside.baixoDir#baixoDir
				div.galeria
	aside.rodaPe
		aside
			button.btnSalSlider Salvar
			button.btnLimpar Limpar
block modal
	section#openUpload
		a.offUpload X
		aside.cimaUpload
			h1 Escolha uma imagem de sua preferência
			a ANEXO
				input.btnLimpar(type="file", name="file-original", id="file-original")
		hr
		aside.baixoUpload
		button#btn_Confirmar Confirmar
block scripts
	script(type='text/javascript', src='/js/jquery.magnific-popup.min.js')
	script(type='text/javascript', src='/js/admin/sliderSecund.js')