@media (max-width: 575px) {
	div#primary {
    	display: none;
	}
	section#clientes{
		/* background-color: yellow; */
	}
	section#empresa,section#produtos,section#clientes{
		padding-top: 70px;
	}	
	section#orcamento .orcamentoTela{
	    overflow: auto;
	    height: inherit;
	    margin: 0px;
	    /* border: 0; */
	}
	section#contato{
		padding-top: 100px;
	}
	section#orcamento label {
	    font-size: 16px;
	    padding-right: 10px;
	    margin-top: 5px;
	}
	#navbar button#btnOrcamento2 {
	    background: rgb(56, 70, 113);
	    font-size: 18px;
	    border: 1px solid black;
	    color: white;
	    top: -12px;
	    position: relative;
	    left: 9px;
	    text-align: center;
	    opacity: 1;
	    /* transition: all 1s; */
	}
	button.btn.btn-danger.btn-block.botaoFechar{
	    top: 2.5%;
	    position: absolute;
	    right: 7%;
	    z-index: 99;
	}
	input#proQtdade{
		width: 26%;
	}
	.col-sm-6.ListaProduto.ocultar{
		width: initial;
		height: initial;
	}
	.adicionar, .enviar{
		padding: 0px 50px;
	    width: 100%;
	    margin-top: 1%;	
	}
	section#orcamento button.btn.btn-primary.btn-block.botaoEnviarOrcmento{
	    width: auto;
	    font-size: 14px;
	}
	section#orcamento .btn-success {
	    margin: auto;
	    font-size: 14px;
	}
	.wrap aside.corpo{
	    width: 85%;
	    height: 40%;		
	}
	div#menu{
		position: fixed;
		top: 0;
	}
	div#menu ul{
	    left: 0%;
	    margin-top: 0%;
	    overflow: auto;
	    height: 481px;
	}
	div#navbar {
	    background: rgba(0, 162, 211, 0.80);
	    width: 45%;
	    /* padding: 0px; */
	    top: 70px;
	    /* margin: 0px; */
	    position: absolute;
	    /* float: right; */
	    right: 0%;
	}
	.nav > li > a:hover, .nav > li > a:hover h4{
		text-decoration: none;
	}
	.nav > li > a:hover h4{
	    border-bottom: 0;
	    padding-bottom: 0;		
	}
	div#menuCont{
		height: 70px;
	}
	.logoMarca{
		top: 0;
		opacity: 1;
	}
	.logoMarca img{
		width: 80px;
		height: 70px;
	}
	div#logoImg {
		display: none;
	}
	section#carrossel{
		margin-top: 18%;
	}
	.carousel-indicators{
		bottom: 0px !important;
		z-index: 1;
	}
	section#carrossel li{
		width: 10px;
		height: 10px;
	}
	section#barra{
		position: relative;
    	top: 65px;
	}
	.Social2{
		display: none;
		top: -4px;
	    position: absolute;
	    right: -12px;
	}
	#barra h4{
		font-size: 17px;
	}
	#divWhats, #divEmail{
		display: none !important;
	}
	section#manutencao,section#instalacao{
		padding-top: 25%;
	}
	button.btn.btn-danger.btn-block.botaoFechar1{
		width: initial;
	    position: absolute;
	    right: 40px;
    	top:7.8%;
	}
	button.btn.btn-danger.btn-block.botaoFechar2{
	    top: 5%;
	    right: 8px;	
	}
	section#instalacao .Orcamento2 {
    	position: relative;
    	top: -4px;
	}
	.row.telaManutencao{
		height: auto;
		width: 100%
	}
	.Orcamento3 {
	    top: -3px;
	    width: 100%;
	    margin: auto !important;
	}
	.copyright p{
		text-align: center;
	}
	section#contato .form-group.formRadio{
		font-size: 19px;
	}
	.ListaMenu h4{
		font-size: 15px;
	}
	section#empresa .ftEmp {
	    margin-top: 0%;
	    margin-left: 0%;
	}
	ul#list-group{
		text-align: center;
	}
	/*PARCEIROS*/
	select#ufCidade{
	    margin: 0px;
	}
	.row.selects{
    	padding-top: 20%;		
		padding-bottom: 10%;
	
	}
	div#bodyContent{
		text-align: center;
	}
	img.foto_parceiro{
	    margin: auto;
	    display: block;
	}
	div#content{
		width: 250px;
	}
	.modalParceiros{
	    top: 70px;
	    width: 95%;
	    margin: auto;
	    display: block;
	    position: relative;
	    max-height: 615px;
	    overflow: auto;
	}
	img.img-thumbnail.img_parceiros_modal{
	    margin: auto;
	    display: block;
	    width: 100px;
	    height: 100px;
    }
	.btn-parceiros{
		top: 1%;
	}
	.tabela_info{
		border-left: 0px;
		box-shadow: 1px 1px 1px #a2a1a1;		
	}
	div#row_info .row{
    	box-shadow: 0px 0px 0px transparent;
   		margin:  0px;
	}
	section#dicas .noticia:not(.notDestaque){
		max-height: 1000px;
		min-height: 800px;
	}
	section#logo_dicas {
	    position: absolute;
	    width: 100%;
	    top: 0px;
	}
	img.img-responsive.img_dicas {
	    width: 15%;
	    margin: auto;
	}
	section#dicas {
	    top: 50px;
	}
}
/*----------------------- tamanho de 576px ate 767px -------------------*/
@media (min-width: 576px) and (max-width: 767px) {
	div#primary {
    	display: none;
	}
/* 	section#clientes{
		background-color: red;
	} */
	section#empresa,section#produtos,section#clientes{
		padding-top: 40px;
	}
	section#contato{
		padding-top: 100px;
	}
	section#orcamento .orcamentoTela{
		overflow: auto;
		height: inherit;
		margin: 0px;
	}
	section#orcamento label {
	    font-size: 16px;
	    padding-right: 10px;
	    margin-top: 5px;
	}
	button.btn.btn-danger.btn-block.botaoFechar{
	    top: 6%;
	    position: absolute;
	    right: 7%;
	    z-index: 99;
	}
	#navbar button#btnOrcamento2 {
	    background: rgb(56, 70, 113);
	    font-size: 18px;
	    border: 1px solid black;
	    color: white;
	    top: -12px;
	    position: relative;
	    left: 23px;
	    text-align: center;
	    opacity: 1;
	    /* transition: all 1s; */
	}
	input#proQtdade{
		width: 26%;
	}
	.col-sm-6.ListaProduto.ocultar{
		width: initial;
		height: initial;
	}
	.adicionar, .enviar{
		padding: 0px 50px;
	    width: 100%;
	    margin-top: 1%;	
	}
	section#orcamento button.btn.btn-primary.btn-block.botaoEnviarOrcmento{
	    width: auto;
	    font-size: 14px;
	}
	section#orcamento .btn-success {
	    margin: auto;
	    font-size: 14px;
	}
	.copyright p{
		text-align: center;
	}
	section#barra{
		position: relative;
    	top: 65px;
	}
	.Social2{
	    display: block;
	    top: -4px;
	    position: absolute;
	    right: 0px;
	}
	#barra h4{
		font-size: 17px;
	}
	#divWhats, #divEmail{
		display: none !important;
	}
	div#menu{
		position: fixed;
		top: 0;
	}
	div#menu ul{
	    left: 0%;
	    margin-top: 0%;
	    overflow: auto;
	    height: 518px;
	}
	div#navbar {
	    background: rgba(0, 162, 211, 0.80);
	    width:35%;
	    /* padding: 0px; */
	    top: 70px;
	    /* margin: 0px; */
	    position: absolute;
	    /* float: right; */
	    right: 0%;
	}
	.nav > li > a:hover, .nav > li > a:hover h4{
		text-decoration: none;
	}
	.nav > li > a:hover h4{
	    border-bottom: 0;
	    padding-bottom: 0;		
	}
	div#menuCont{
		height: 70px;
	}
	.logoMarca{
		top: 0;
		opacity: 1;
	}
	.logoMarca img{
		width: 80px;
		height: 70px;
	}
	div#logoImg {
		display: none;
	}
	section#carrossel{
		margin-top: 10.2%;
	}
	.carousel-indicators{
		bottom: 0px !important;
	}
	section#carrossel li{
		width: 10px;
		height: 10px;
	}
	section#manutencao,section#instalacao{
		padding-top: 25%;
	}
	button.btn.btn-danger.btn-block.botaoFechar1{
		width: initial;
	    position: absolute;
	    right: 40px;
    	top:7.8%;
	}
	button.btn.btn-danger.btn-block.botaoFechar2{
		top: 13.5%;
    	right: 7px;	
	}
	section#instalacao .Orcamento2 {
    	position: relative;
    	top: -4px;
	}
	.row.telaManutencao{
		height: auto;
		width: 100%
	}
	.Orcamento3 {
	    top: -3px;
	    width: 100%;
	    margin: auto !important;
	}
	section#empresa .ftEmp {
	    margin-top: 0%;
	    margin-left: 0%;
	}
	ul#list-group{
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	section#clientes{
		/* background-color: green; */
	}
	.container {
    	width: 100%;
	}
	section#orcamento .orcamentoTela{
		overflow: auto;
		height: inherit;
		margin: 0px;
	}
	#barra h4{
    	font-size: 13px;
	}
	section#orcamento button.btn.btn-primary.btn-block.botaoEnviarOrcmento{
		width: 45%;
	}
	input#proQtdade{
		width: 20%;
	}
	button.btn.btn-danger.btn-block.botaoFechar{
	    right: 41px;
    	top: 2%;
	}
	div#menu{
    	top: 78%;
	}
	div#menu #navbar li h4{
		font-size: 10px;
	}
	div#menuCont{
    	height: 85px;		
	}
	div#primary {
    	display: none;
	}
	.logoMarca{
		opacity: 1;
	}
	.logoMarca img{
		height: 80px;
		width: 90px;
	}
	div#logoImg{
		display: none;
	}
	section#carrossel li{
		width: 40px;
	}
	section .carousel-indicators {
    	bottom: 92px;
	}
	.btnServico{
		width: 50%;
		display: inline-block;
	}
	button.btn.btn-danger.btn-block.botaoFechar1 {
   		top: 12.4%;
	}
	button.btn.btn-danger.btn-block.botaoFechar2{
		top: 8.5%;
	    right: 76px;
	}
	section#instalacao .Orcamento2{
	    top: 80%;	
	    width: 100%;
	}
	.row.Orcamento3 {
	    top: 100px;
	}
	.Social1{
		width: 100%;
	}
	.Social2{
		display: none;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {
	section#clientes{
		/* background-color: blue; */
	}
	.container {
    	width: 100%;
	}
	section#orcamento .orcamentoTela{
		overflow: auto;
		height: inherit;
		margin: 0px;
	}
	section#orcamento button.btn.btn-primary.btn-block.botaoEnviarOrcmento{
		width: 45%;
	}
	input#proQtdade{
		width: 20%;
	}
	button.btn.btn-danger.btn-block.botaoFechar{
	    right: 41px;
    	top: 2%;
	}
	div#menu{
    	top: 83%;
	}
	div#menu #navbar li h4{
		font-size: 15px;
	}
	div#menuCont{
    	height: 88px;		
	}
	div#primary {
    	display: none;
	}
	.logoMarca{
		opacity: 1;
	}
	.logoMarca img{
		height: 86px;
		width: 96px;
	}
	div#logoImg{
		display: none;
	}
	section#carrossel li{
		width: 40px;
	}
	section .carousel-indicators {
    	bottom: 175px;
	}
	.btnServico{
		width: 50%;
		display: inline-block;
	}
	button.btn.btn-danger.btn-block.botaoFechar1 {
   		top: 11%;
	}
	button.btn.btn-danger.btn-block.botaoFechar2{
	    top: 9%;
	    right: 90px;
	}
	section#instalacao .Orcamento2{
	    top: 80%;	
	    width: 60%;
	}
	img.imgAtencao.img-thumbnail {
    	width: 37%;
	}
	#barra h4{
		font-size: 15px;
	}
	.row.Orcamento3 {
    	top: -25px;
	}
}	
@media (min-width: 1200px) and (max-width: 1365px) {
	section#clientes{
		/* background-color: orange; */
	}
	.container {
    	width: 100%;
	}
	section#orcamento .orcamentoTela{
		overflow: auto;
		height: inherit;
		margin: 0px;
	}
	section#orcamento button.btn.btn-primary.btn-block.botaoEnviarOrcmento{
		width: 45%;
	}
	input#proQtdade{
		width: 20%;
	}
	button.btn.btn-danger.btn-block.botaoFechar{
	    right: 41px;
    	top: 2%;
	}
	div#menu{
    	top: 83%;
	}
	div#menu #navbar li h4{
		font-size: 15px;
	}
	div#menuCont{
    	height: 88px;		
	}
	div#primary {
    	display: none;
	}
	.logoMarca{
		opacity: 1;
	}
	.logoMarca img{
		height: 86px;
		width: 96px;
	}
	div#logoImg{
		display: none;
	}
	section#carrossel li{
		width: 40px;
	}
	section .carousel-indicators {
    	bottom: 175px;
	}
}
