/* .backgroundLogo {
    background: url(../../../../images/logo/logo.png) no-repeat;
    width: 200px;
    height:200px;
} */
div#personalizar{
    background: rgba(128, 128, 128, 0.20);
    height: 932px;
}
.backgroundLogo img {
    width: 130px;
    height: 130px;
    background: white;

}
.backgroundLogo{
    margin-left: 0px !important;
    margin-top: 0% !important;
}
div#personalizar #primary {
    top: 55px !important;
    left: 2%;
    width: 52%;
    height: 407px;
    padding: 3%;
    /* border-radius: 6px; */
}
div#personalizar .linhaCor{
    top: 85px;
    position: relative; 
}
div#personalizar .linhaCorCarrosel {
    top: 55px;
    right: 21%;
    position: relative;
}
div#personalizar .linhaCorMenu{
    top: 0px;
    position: relative;
}
div#personalizar #menu {
    position: relative;
    top: 0px;
}
div#personalizar #barra {
    position: relative;
    height: 70px;
}
div#personalizar .linhaCor {
    top: 0px;
    position: relative;
    width: 80%;
}
div#personalizar .menuh3{
    position: relative;
    top: 0px;
}
div#personalizar h3{
    text-shadow: 1px 1px 1px black;
}
div#personalizar input{
    margin-right: 19px;
    width: 22px;
}
div#personalizar div#logoImg {
    top: 0px;
    position: relative;
    width: 100%;
}

div#personalizar .mudarLogo {
    top: 5px;
    position: relative;
}
div#personalizar input#logo {
    width: 59% !important;
    display: inline-block;
    margin-left: 0px;
}
div#personalizar input#input-traparencia, #input-traparencia-carr, #input-traparencia-menu {
    display: inline-block;
    width: 70px !important;
    top: 7px;
    position: relative;
    margin-left: 5px;
}
div#personalizar img.img-responsive {
    width: 30% !important;
    position: relative;
    top: 0px;
}
button#btnSalvar {
    position: relative;
    top: 250px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
}
ul.bxslider li{
    width: 100% !important;
}
.containerImg figcaption:hover {
    opacity: 0 !important;
}