extends layout
block content
	h1 Cadastro de E-mail
	hr
	br
	if messages.erro
		div(class="alert alert-danger")
			each msg in messages.erro
				b= msg
				br
	form(method="POST", action="/emailAdmin/create", role="form")
		div(class='form-group')
			label E-mail
			input(type="email", class="form-control", name="email", value=""+(user.email || ''), placeholder="E-mail" required)
		button(type="submit", class="btn btn-success") Salvar
	br
	br
	a(href="/emailAdmin") Voltar
