extends layout

block content
	br
	h1 #{dados.nome}
	hr
	p
		b E-mail: #{dados.email}
	p
		b Dada de Cadastro: #{moment(dados.data_cad).format('DD/MM/YYYY HH:MM:ss')}
	br
	form(method="POST", action="/email/delete/"+dados._id, role="form", id="excluirForm")
		button(type="submit", class="btn btn-danger") Excluir
	br
	a(href="/emailAdmin") Voltar