extends layout
block content
	h1 E-mail
	a(href='emailAdmin/create', class='btn btn-success') Cadastrar E-mail
	br
	if messages.erro
		div(class="alert alert-danger")
			p #{messages.erro}
	if messages.info
		div(class="alert alert-success")
			p #{messages.info}
	if lista.length > 0
		table(class="table table-striped")
			thead
				tr
					th ID:
					//- th Nome:
					th E-mail:
					th Data:
					th Ações:
			tbody
				each valor in lista
					tr
						td #{valor._id}
						//- td #{valor.nome}
						td #{valor.email}
						td #{moment(valor.data_cad).format('DD/MM/YYYY HH:MM:SS')}
						td
							a(href="/email/excluir/"+valor._id, class="btn btn-danger excluir-email")
								span(class="glyphicon glyphicon-trash")
	else
		p Nenhum registro encontrado!
	script.
		document.querySelector(".email").classList.add("active")