doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= title
		link(rel='stylesheet', href='/stylesheets/css/libs/demo.css')
		link(rel='stylesheet', href='/stylesheets/css/libs/booststrap-aux.css')
		link(rel='stylesheet', href='/stylesheets/css/libs/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/css/libs/jquery.bxslider.css')
		link(rel='stylesheet', href='/stylesheets/css/mylibs/admin/alert.css')
		link(rel='stylesheet', href='/stylesheets/css/mylibs/admin/parceiros.css')
		link(rel='stylesheet', href='/stylesheets/css/mylibs/barra.css')
		link(rel='stylesheet', href='/stylesheets/css/mylibs/dinamico/all.css')
		link(rel='stylesheet', href='/stylesheets/css/mylibs/dinamico/personalizar.css')
		link(rel='stylesheet', href='/stylesheets/css/mylibs/footer.css')
		link(rel='stylesheet', href='/stylesheets/css/mylibs/carrosel2.css')
		link(rel='stylesheet', href='/stylesheets/css/mylibs/slidervertical.css')
		link(rel='stylesheet', href='/stylesheets/css/mylibs/menu.css')

		block style
	body
		div.container
			if isLoggedAdmin
				div.masthead
					nav
						include menu
			block content
			//- if isLogged
			//- block content
		block login
		//- block modal
	//- include iconSVG

	script(src="/js/jquery-3.2.1.min.js")
	script(src="/js/jquery.maskedinput.js")
	script(src="/js/bootstrap.min.js")
	script(src="/js/admin/loginAdmin.js")
	script(src="/js/admin/parceiros.js")
	script(src="/js/funcoes.js")
	//- script(src="/js/dinamico/barra.js")
	//- script(src="/js/dinamico/carroselInvert.js")
	//- script(src="/js/dinamico/menu.js")
	//- script(src="/js/dinamico/logo.js")
	//- script(src="/js/dinamico/salvarCSS.js")
	script(src='/js/jquery.bxslider.js')
	script(src="/js/slidervertical.js")
	script(src="/js/opUfCidade.js")

	//- script(src="/js/bootstrap-datepicker.pt-BR.js")
	//- script(src="js/jquery.maskedinput.js")
	//- script(src="js/notify.js")
	//- script(src="/js/moment.js")
	//- script(type=' text / javascript ', src='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')


	block scripts