ul.nav.nav-justified#navAdmin
	li.home
		a(href='/home', title="Clique para Cadastrar os Usúarios que Terão Acesso ao Painel de Configuração do Aplicativo WEB") Usúarios
	li.email
		a(href='/emailAdmin', title="Clique para Cadastrar o E-mail de Quem Irá Receber o Orcamento Enviado Para o Cliente") E-mail	
	li.email
		a(href='/personalizar', title="Clique para Personalizar o Site") Personalizar	
	li.email
		a(href='/parceiros', title="Clique para Cadastrar Parceiros") Parceiros
	li.sair
		a(href='/sair', title="Clique para Sair do Painel Administrativo") #{sessionAdmin.nome} [sair]