extends layout
block content
	h1(style="color:red; text-shadow:1px 1px 1px black;") Alterando Parceiro
	hr
	br
	if messages.erro
		div(class="alert alert-danger")
			each msg in messages.erro
				b= msg
				br
	form(method="POST", action="/parceiros/edit/"+user.email, role="form")
		div.foto
			a.btn-primary
				span.glyphicon.glyphicon-paperclip
				|ANEXO
				input.btnLimpar(type="file", name="file", id="file-original")
				input#imagem(type="text", name="foto", style="display:none;", value=""+user.foto)
		aside.baixoUpload
			aside.galeriaDesh
				img(src=''+user.foto)
				a.exclImgGl
					span x
		div(class='form-group')
			label Nome da Empresa
			input(type="text", class="form-control", name="nomeEmpresa", placeholder="Digite o nome da empresa", value=""+(user.nomeEmpresa || ''), autofocus ,required)
		div(class='form-group')
			label Nome do Proprietário
			input(type="text", class="form-control", name="nome", placeholder="Digite o nome", value=""+(user.nome || ''), required)
		div(class='form-group')
			label.label_email E-mail
			input(type="email", class="form-control email_parceiros", name="email", value=""+(user.email || ''), placeholder="Digite o e-mail", required)
			a(href="/parceiros/edit/"+user.email, class="btn btn-primary btn_editar_parceiros")
				span(class="glyphicon glyphicon-pencil")
		div(class='form-group')
			label Telefone
			input(type="text", class="form-control telefone_parceiros", name="telefone", value=""+(user.telefone || ''), placeholder="Digite o telefone", required)
		div(class='form-group')
			label Descrição
			input(type="text", class="form-control", name="descricao", value=""+(user.descricao || ''), placeholder="Digite a descrição da empresa",required)
		div(class='form-group')
			label Logradouro
			input(type="text", class="form-control", name="logradouro", value=""+(user.endereco[0].logradouro || ''), placeholder="Digite o logradouro", required)
		div(class='form-group tam50')
			label Complemento
			input(type="text", class="form-control", name="complemento", value=""+(user.endereco[0].complemento || ''), placeholder="Digite o complemento", required)
		div(class='form-group tam20')
			label Bairro
			input(type="text", class="form-control", name="bairro", value=""+(user.endereco[0].bairro || ''), placeholder="Digite o bairro", required)
		div(class='form-group tam25')
			label CEP
			input(type="text", class="form-control cep_parceiros", name="cep", value=""+(user.endereco[0].cep || ''), placeholder="Digite o CEP", required)
		select.form-group#ufCad(name="uf", required)
		select.form-group#ufCidade(name="cidade", required)
		div(class='form-group')
			label Link do Google Mapas
			input(type="text", class="form-control", name="link", value=""+(user.link || ''), placeholder="Se deseja manter o link já existente, deixe este campo vazio. Se desejar alterar o link existente, preencha este campo com o novo link.")
		button(type="submit", class="btn btn-success") Salvar
	br
	br
	a(href="/parceiros") Voltar