extends layout
block content
	h1 Cadastro de Parceiros
	hr
	br
	if messages.erro
		div(class="alert alert-danger")
			each msg in messages.erro
				b= msg
				br
	form(method="POST", action="/parceiros/create", role="form")
		div.foto
			a.btn-primary
				span.glyphicon.glyphicon-paperclip
				|ANEXO
				input.btnLimpar(type="file", name="file", id="file-original", required)
				input#imagem(type="text", name="foto", style="display:none;")
		aside.baixoUpload
		div(class='form-group')
			label Nome da Empresa
			input(type="text", class="form-control", name="nomeEmpresa", placeholder="Digite o nome da empresa", autofocus ,required)
		div(class='form-group')
			label Nome do Proprietário
			input(type="text", class="form-control", name="nome", placeholder="Digite o nome", required)
		div(class='form-group')
			label.label_email E-mail
			input(type="email", class="form-control email_parceiros", name="email", placeholder="Digite o e-mail", required)
			a(href="/parceiros/create/", class="btn btn-primary btn_editar_parceiros", title="Se desejar alterar alguma informação de um cadastro já existente, preencha com o email e clique aqui!")
				span(class="glyphicon glyphicon-pencil")
		div(class='form-group')
			label Telefone
			input(type="text", class="form-control telefone_parceiros", name="telefone", placeholder="Digite o telefone", required)
		div(class='form-group')
			label Descrição
			input(type="text", class="form-control", name="descricao", placeholder="Digite a descrição da empresa",required)
		div(class='form-group')
			label Logradouro
			input(type="text", class="form-control", name="logradouro", placeholder="Digite o logradouro", required)
		div(class='form-group tam50')
			label Complemento
			input(type="text", class="form-control", name="complemento", placeholder="Digite o complemento", required)
		div(class='form-group tam20')
			label Bairro
			input(type="text", class="form-control", name="bairro", placeholder="Digite o bairro", required)
		div(class='form-group tam25')
			label CEP
			input(type="text", class="form-control cep_parceiros", name="cep", placeholder="Digite o CEP", required)
		select.form-group#ufCad(name="uf", required)
			//- option(value=""+(user.estado || ''))
		select.form-group#ufCidade(name="cidade", required)
			//- option(value=""+(user.cidade || ''))
		div(class='form-group')
			label Link do Google Mapas
			input(type="text", class="form-control", name="link", placeholder="Link da empresa no mapa", required)
		button(type="submit", class="btn btn-success") Salvar
	br
	br
	a(href="/parceiros") Voltar