extends layout
block content
	//- if messages.erro
	//- 	div(class="alert alert-danger")
	//- 		p #{messages.erro}
	if messages.info
		div(class="alert alert-success")
			p #{messages.info}
	div#personalizar
		include ../../iconSVG
		h1 Personalizar Site
		h3 Barra de Informação
		include ../../barra
		.row.linhaCor
			p
				label(for='barraCor') Barra:
				input#barraCor(type='color', name='tCor', value='#00774e')
				label(for='input-traparencia') Transparencia:
				input#input-traparencia(type='range', min='0', max='1', step='0.1', value='0.68')
				label(for='fonteCor') Fonte:
				input#fonteCor(type='color', name='tCor', value='#FFFFFF')
				label(for='contornoCor') Contorno:
				input#contornoCor(type='color', name='tCor', value='#199bc3')
				label(for='redeSocialCor') Redes Sociais:
				input#redeSocialCor(type='color', name='tCor', value='#00774e')
				label(for='hoverCor') Hover:
				input#hoverCor(type='color', name='tCor', value='#00a2d3')
		h3.menuh3 Menu
		include ../../menu
		.row.linhaCorMenu
			p
				label(for='menuCor') Barra:
				input#menuCor(type='color', name='tCor', value='#00a2d3')
				label(for='input-traparencia') Transparencia:
				input#input-traparencia-menu(type='range', min='0', max='1', step='0.1' value="0.8")
				label(for='fonteMenuCor') Fonte:
				input#fonteMenuCor(type='color', name='tCor', value='#FFFFFF')
				label(for='hoverCorFonte') Hover:
				input#hoverCorFonte(type='color', name='tCor', value='#00774e')
		form(action='/salvarBarra', method='post', enctype='multipart/form-data', id="formImagem")
			.row
				.col-sm-6
					h3.menuh3 Logo Marca
					include ../../logo
					.row.mudarLogo
						p
							label(for='logo')
							input#logo(type='file' name="photos")
						//- button#btnSalvarLogo.btn.btn-success(type='button', onclick="JsonCSS()") Salvar Imagem
				.col-sm-6
					.carroselInv.col-sm-6
						h3 Carrosel Vertical			
						include ../../carrosel2
					.col-sm-6.linhaCorCarrosel
							p
								label(for='bordaForaCor') Borda de Fora:
								input#bordaForaCor.inputPerson(type='color', name='tCor', value='#ffffff')
								label(for='input-traparencia') Transparencia:
								input#input-traparencia-carr.inputPerson(type='range', min='0', max='1', step='0.1', value='0.35')
								label(for='bordaDentroCor') Borda de Dentro:
								input#bordaDentroCor.inputPerson(type='color', name='tCor', value='#00a2d3')
			button#btnSalvar.btn.btn-success(type='button', onclick="JsonCSS()") Salvar Alterações
block scripts
	script(src="/js/dinamico/barra.js")
	script(src="/js/dinamico/carroselInvert.js")
	script(src="/js/dinamico/menu.js")
	script(src="/js/dinamico/logo.js")
	script(src="/js/dinamico/salvarCSS.js")