aside.titulo.slider {
    width: 100%;
}
aside.titulo {
    /* height: 14%; */
    display: inline-block;
    /* padding: 1%; */
    text-align: center;
}
aside.titulo h5 {
    color: rgb(0, 0, 0);
    font-size: 3em;
    text-align: center;
    text-shadow: 0em 0em 0.12em rgb(12, 82, 210);
}
aside.corpo {
    /* background: blue; */
    height: 70%;
    padding: 0 1%;
}
#slider .direita {
    width: 75%;
    /* height: 100%; */
    display: inherit;
    /* vertical-align: top; */
    margin: auto;
}
aside.corpo aside {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
aside.direita {
    text-align: center;
}
aside.direita aside {
    width: 90%;
    height: 17%;
}
aside.corpo aside {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
aside.direita aside.cimaDir h5 {
    width: 79%;
    /* height: 73%; */
    text-align: left;
    font-size: 2em;
    float: left;
    padding: 3% 0;
    text-shadow: 0em 0em 0.12em rgb(12, 82, 210);
    color: rgb(0, 0, 0);
    /* text-shadow: 0em 0em 0.15em rgb(12, 82, 210); */
    /* text-shadow: 0px 0px 1px #ffffff; */
}
aside.corpo aside.esquerda article.detalhes .box_tam button,aside.rodaPe button,aside.direita aside.cimaDir button {
    background: rgb(12, 82, 210);
    vertical-align: top;
    font-size: 0.7em;
    width: 90%;
    /* height: 86%; */
    color: rgb(255, 255, 255);
    cursor: pointer;
}
aside.direita aside.baixoDir {
    background: black;
    height: 78%;
}
aside.direita aside {
    width: 90%;
    height: 17%;
}
aside.corpo aside {
    /* width: 50%; */
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
aside.direita aside.baixoDir> div {
    background: rgb(35, 34, 34);
    width: 753px;
    height: 325px;
    max-height: 100%;
    overflow: auto;
}
aside.rodaPe button {
    font-size: 1.5em;
    padding: 10px;
    width: initial;
    /* height: 67%; */
    margin: 4% 2%;
}
aside.rodaPe aside {
    width: 16%;
    /* height: 100%; */
    margin: auto;
}
aside.direita aside.baixoDir div aside {
    background: grey;
    width: 22%;
    height: 30%;
    display: inline-block;
    overflow-y: auto;
    float: left;
    margin: 0.9% 1.48%;
    border: 0.1em solid rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
}
aside.direita aside.baixoDir div aside img {
    width: 100%;
    height: 100%;
    display: block;
}
aside.direita aside.baixoDir div aside a {
    background: rgb(12, 82, 210);
    /* width: 1em; */
    /* height: 1em; */
    font-size: 1.8em;
    border-radius: 100%;
    position: relative;
    display: block;
    float: right;
    right: 3%;
    top: -95%;
    padding: 14px 14px;
    cursor: pointer;
}
aside.direita aside.baixoDir div aside span {
    position: absolute;
    right: 21%;
    top: -11%;
    transform: rotate(135deg);
    color: rgb( 255, 255, 255);
}
img.mfp-img {
    z-index: 999;
    /* float: left; */
    position: relative;
    width: 45%;
    /* height: 398px; */
    /* text-align: center; */
    margin: auto;
    display: block;
    border: 5px solid white;
    /* top: 10px; */
}
#openUpload aside.baixoUpload .imgUploadint a.removeupload1 {
    width: 3em;
    height: 3em;
    text-align: center;
    border: 0.27em solid rgb(255, 255, 255);
    border-radius: 100%;
    margin: 5px;
}
#openUpload aside.baixoUpload .imgUploadint a.removeupload1 .closeUpl {
    color: rgb(228, 12, 12);
    display: block;
    position: relative;
    top: -40%;
    transform: rotate(135deg);
    font-size: 3.2em;
    cursor: pointer;
}




#openUpload {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    background: rgba( 0, 0, 0, 0.8);
}
.botFecharVer, #openUpload .offUpload {
    background: rgb(12, 82, 210);
    /* width: 1.6em; */
    /* height: 1.6em; */
    padding: 4px 15px;
    font-size: 2em;
    border-radius: 100%;
    position: absolute;
    display: block;
    /* float: right; */
    right: 2%;
    top: 1%;
    border: 8px;
    border-style: double;
    border-color: rgb(255, 255, 255);
    color: rgb(238, 241, 238);
    box-shadow: 0.1em 0.1em 0.25em #080808;
    transition: all .5s;
    cursor: pointer;
}
a {
    text-decoration: none;
    /* cursor: pointer; */
}
#openUpload aside {
    background: rgba(0, 0, 102, 0.4);
    width: 70%;
    height: 15%;
    margin: auto;
    padding: 2% 1% 1% 1%;
}
#openUpload aside.baixoUpload {
    background: rgba( 0, 0, 0, 0.5);
    height: 72%;
    max-height: 72%;
    overflow: auto;
}
#openUpload aside {
    background: rgba(0, 0, 102, 0.4);
    width: 70%;
    height: 15%;
    margin: auto;
    padding: 2% 1% 1% 1%;
}
#openUpload button {
    display: block;
    margin: auto;
    width: 14%;
    padding: 0.9% 0.5%;
    background: rgb(12, 82, 210);
    /* text-shadow: 0em 0em 0.12em rgb(12, 82, 210); */
    color: rgb( 255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin-top: 0.8%;
    font-size: 1.7em;
    cursor: pointer;
}
#openUpload aside.cimaUpload h1 {
    font-size: 2.7em;
    width: 80%;
    color: rgb(255, 255, 255);
}
#openUpload aside.cimaUpload h1, #openUpload aside.cimaUpload a {
    display: inline-block;
    vertical-align: middle;
}
#openUpload hr {
    margin: auto;
    width: 70%;
}
hr#hrSlider{
    width: 98%;
    border: solid 0.05em blue;
    margin: 0px;
}
hr {
    width: 98%;
    border: solid 0.05em rgb(255, 255, 255);
}
#openUpload .cimaUpload a {
    background: rgb(12, 82, 210);
    position: absolute;
    cursor: pointer;
    width: 12%;
    height: 7%;
    font-size: 1.7em;
    text-align: center;
    padding-top: 0.5%;
    color: rgb( 255, 255, 255);
    /* text-shadow: 0px 0px 1px rgb(210, 12, 23); */
}
#openUpload .cimaUpload a:hover {
    /* background: rgb( 255, 255, 255); */
    /* color: rgba(210, 12, 23, 1); */
    background: rgba(194, 202, 217, 0.65) !important;
    color: rgb(12, 82, 210);
}

#openUpload .cimaUpload a input {
    opacity: 0.0;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background: rgb(12, 82, 210); */
}
input, button {
    padding: 1em 1em;
    border: 0;
}
aside.corpo aside.esquerda article.detalhes .box_tam button:hover,
aside.rodaPe button:hover,
aside.direita aside.cimaDir button:hover {
    background: rgba(194, 202, 217, 0.65) !important;
    color: rgb(12, 82, 210);
}
aside.direita aside.cimaDir button {
    padding: 10px;
    font-size: 1.5em;
    width: initial;
    /* height: 64%; */
    color: rgb(255, 255, 255);
    margin-top: 2.8%;
}
aside.direita aside.cimaDir h5,
aside.direita aside.cimaDir button {
    display: inline-block;
}
#openUpload aside.baixoUpload .imgUploadint {
    width: 100%;
    height: 25%;
}
#openUpload aside.baixoUpload .imgUploadint .imagemUpl {
    width: 13%;
    height: 100%;
    padding: 1%;
}
#openUpload aside.baixoUpload .imgUploadint div, #openUpload aside.baixoUpload .imgUploadint a {
    display: inline-block;
    vertical-align: middle;
}
#openUpload aside.baixoUpload .imgUploadint .imagemUpl img {
    width: 100%;
    height: 100%;
    position: relative;
}
.inputGaleria {
    /* background: rgb(255, 41, 41); */
    /* width: 753px; */
    /* height: 325px; */
    /* max-height: 100%; */
    /* overflow: auto; */
    position: absolute;
    /* top: -129px; */
    display: inline-block;
    left: 1px;
    top: 66px;
}

.inputGaleria input {
    left:;
    height: 15px;
    background: rgba(255, 255, 255, 0.3);
}
.inputGaleria input:focus { 
    background-color: white;
}