#tbody_orc td{
    overflow: auto;
    max-width: 200px;
}
::-webkit-scrollbar {
    height: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
section.modalOrcamento {
    position: fixed;
    width: 100%;
    top: 19.7%;
    height: 81%;
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.23), rgba(215, 220, 230, 0.39) 1px, rgba(0, 0, 0, 0.44) 1px, rgba(192, 203, 224, 0.41) 1px);
    z-index: 9;
}
button#propostasEnv {
    float: right;
    margin-bottom: 5px;
}
div.divModal{
    overflow: auto;
    width: 90%;
    max-height: 80%;
    margin: 1% auto;
    border: 8px solid rgba(51, 122, 183, 0.34);
    border-style: groove;
    background: #eee;
    position: relative;
}
.tableHistorico td{
    width: 30%;
}
.history{
    width: 90%;
    margin: 1% auto;
    border: 8px solid rgba(51, 122, 183, 0.8);
    border-style: groove;
    background: #eee;
    position: relative;
    top: -326px;
    height: 311px;
    overflow: auto;
}
button.btn.btn-danger.btn-block.botaoFechar {
    width: 3%;
    padding: 3px;
    margin: 1px;
    position: absolute;
    right: 0;
}
.tableHistorico tr:hover{
    background-color: #e5e4e4;
    cursor: auto;
}
tbody tr:hover input.telefone{
    background-color: #e5e4e4;
    cursor: pointer;
}
tbody tr:hover{
    background-color: #e5e4e4;
    cursor: pointer;
}
tbody tr{
    background-color: white;
}
thead{
 background-color: rgba(255, 255, 255, 0.4);
}
.paginacaoAtivada{
    background: #c8c6c6 !important;
}
.pagination>li>a, .pagination>li>span{
    color: black;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    color: black;
    cursor: pointer ;
}
ul.pagination {
    margin: auto;
    display: table;
}
#paginacaoOrc{
    width: 100%;
    height: 35px;  
}
button#salvarSituacao {
    display: block;
    float: right;
}
section#imgGrande{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.telaGrande {
    width: 80%;
    height: 70%;
    margin: auto;
    top: 22%;
    position: relative;
    z-index: 99;
}
section#imgGrande .telaGrande div {
    width: 60% !important;
    height: 85% !important;
    background-size: 100% 100% !important;
    margin: auto !important;
    position: relative !important;
}
aside.titulo.slider {
    width: 100%;
}
aside.titulo {
    /* height: 14%; */
    display: inline-block;
    /* padding: 1%; */
    text-align: center;
}
aside.titulo h5 {
    color: rgb(0, 0, 0);
    font-size: 3em;
    text-align: center;
    text-shadow: 0em 0em 0.12em rgb(12, 82, 210);
}
aside.corpo {
    /* background: blue; */
    height: 70%;
    padding: 0 1%;
}
#slider .direita {
    width: 75%;
    /* height: 100%; */
    display: inherit;
    /* vertical-align: top; */
    margin: auto;
}
aside.corpo aside {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
aside.direita {
    text-align: center;
}
aside.direita aside {
    width: 90%;
    height: 17%;
}
aside.corpo aside {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
aside.direita aside.cimaDir h5 {
    width: 79%;
    /* height: 73%; */
    text-align: left;
    font-size: 2em;
    float: left;
    padding: 3% 0;
    text-shadow: 0em 0em 0.12em rgb(12, 82, 210);
    color: rgb(0, 0, 0);
    /* text-shadow: 0em 0em 0.15em rgb(12, 82, 210); */
    /* text-shadow: 0px 0px 1px #ffffff; */
}
aside.corpo aside.esquerda article.detalhes .box_tam button,aside.rodaPe button,aside.direita aside.cimaDir button {
    background: rgb(12, 82, 210);
    vertical-align: top;
    font-size: 0.7em;
    width: 90%;
    /* height: 86%; */
    color: rgb(255, 255, 255);
    cursor: pointer;
}
aside.direita aside.baixoDir {
    background: black;
    height: 78%;
}
aside.direita aside {
    width: 90%;
    height: 17%;
}
aside.corpo aside {
    /* width: 50%; */
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
aside.direita aside.baixoDir> div {
    background: rgb(35, 34, 34);
    width: 753px;
    height: 325px;
    max-height: 100%;
    overflow: auto;
}
aside.rodaPe button {
    font-size: 1.5em;
    padding: 10px;
    width: initial;
    /* height: 67%; */
    margin: 4% 2%;
}
aside.rodaPe aside {
    width: 16%;
    /* height: 100%; */
    margin: auto;
}
aside.direita aside.baixoDir div aside {
    background: grey;
    width: 22%;
    height: 30%;
    display: inline-block;
    overflow-y: auto;
    float: left;
    margin: 0.9% 1.48%;
    border: 0.1em solid rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
}
aside.direita aside.baixoDir div aside img {
    width: 100%;
    height: 100%;
    display: block;
}
aside.direita aside.baixoDir div aside a {
    background: rgb(12, 82, 210);
    /* width: 1em; */
    /* height: 1em; */
    font-size: 1.8em;
    border-radius: 100%;
    position: relative;
    display: block;
    float: right;
    right: 3%;
    top: -95%;
    padding: 14px 14px;
    cursor: pointer;
}
aside.direita aside.baixoDir div aside span {
    position: absolute;
    right: 21%;
    top: -11%;
    transform: rotate(135deg);
    color: rgb( 255, 255, 255);
}
img.mfp-img {
    z-index: 999;
    /* float: left; */
    position: relative;
    width: 45%;
    /* height: 398px; */
    /* text-align: center; */
    margin: auto;
    display: block;
    border: 5px solid white;
    /* top: 10px; */
}
#openUpload aside.baixoUpload .imgUploadint a.removeupload1 {
    width: 3em;
    height: 3em;
    text-align: center;
    border: 0.27em solid rgb(255, 255, 255);
    border-radius: 100%;
    margin: 5px;
}
#openUpload aside.baixoUpload .imgUploadint a.removeupload1 .closeUpl {
    color: rgb(228, 12, 12);
    display: block;
    position: relative;
    top: -40%;
    transform: rotate(135deg);
    font-size: 3.2em;
    cursor: pointer;
}




#openUpload {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    background: rgba( 0, 0, 0, 0.8);
}
.botFecharVer, #openUpload .offUpload {
    background: rgb(12, 82, 210);
    /* width: 1.6em; */
    /* height: 1.6em; */
    padding: 4px 15px;
    font-size: 2em;
    border-radius: 100%;
    position: absolute;
    display: block;
    /* float: right; */
    right: 2%;
    top: 1%;
    border: 8px;
    border-style: double;
    border-color: rgb(255, 255, 255);
    color: rgb(238, 241, 238);
    box-shadow: 0.1em 0.1em 0.25em #080808;
    transition: all .5s;
    cursor: pointer;
}
a {
    text-decoration: none;
    /* cursor: pointer; */
}
#openUpload aside {
    background: rgba(0, 0, 102, 0.4);
    width: 70%;
    height: 15%;
    margin: auto;
    padding: 2% 1% 1% 1%;
}
#openUpload aside.baixoUpload {
    background: rgba( 0, 0, 0, 0.5);
    height: 72%;
    max-height: 72%;
    overflow: auto;
}
#openUpload aside {
    background: rgba(0, 0, 102, 0.4);
    width: 70%;
    height: 15%;
    margin: auto;
    padding: 2% 1% 1% 1%;
}
#openUpload button {
    display: block;
    margin: auto;
    width: 14%;
    padding: 0.9% 0.5%;
    background: rgb(12, 82, 210);
    /* text-shadow: 0em 0em 0.12em rgb(12, 82, 210); */
    color: rgb( 255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin-top: 0.8%;
    font-size: 1.7em;
    cursor: pointer;
}
#openUpload aside.cimaUpload h1 {
    font-size: 2.7em;
    width: 80%;
    color: rgb(255, 255, 255);
}
#openUpload aside.cimaUpload h1, #openUpload aside.cimaUpload a {
    display: inline-block;
    vertical-align: middle;
}
#openUpload hr {
    margin: auto;
    width: 70%;
}
hr#hrSlider{
    width: 99.8%;
    border: solid 0.05em blue;
    margin: 0px;
}
hr {
    width: 98%;
    border: solid 0.05em rgb(255, 255, 255);
}
#openUpload .cimaUpload a {
    background: rgb(12, 82, 210);
    position: absolute;
    cursor: pointer;
    width: 12%;
    height: 7%;
    font-size: 1.7em;
    text-align: center;
    padding-top: 0.5%;
    color: rgb( 255, 255, 255);
    /* text-shadow: 0px 0px 1px rgb(210, 12, 23); */
}
#openUpload .cimaUpload a:hover {
    /* background: rgb( 255, 255, 255); */
    /* color: rgba(210, 12, 23, 1); */
    background: rgba(194, 202, 217, 0.65) !important;
    color: rgb(12, 82, 210);
}

#openUpload .cimaUpload a input {
    opacity: 0.0;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background: rgb(12, 82, 210); */
}
input, button {
    padding: 1em 1em;
    border: 0;
}
aside.corpo aside.esquerda article.detalhes .box_tam button:hover,
aside.rodaPe button:hover,
aside.direita aside.cimaDir button:hover {
    background: rgba(194, 202, 217, 0.65) !important;
    color: rgb(12, 82, 210);
}
aside.direita aside.cimaDir button {
    padding: 10px;
    font-size: 1.5em;
    width: initial;
    /* height: 64%; */
    color: rgb(255, 255, 255);
    margin-top: 2.8%;
}
aside.direita aside.cimaDir h5,
aside.direita aside.cimaDir button {
    display: inline-block;
}
#openUpload aside.baixoUpload .imgUploadint {
    width: 100%;
    height: 25%;
}
#openUpload aside.baixoUpload .imgUploadint .imagemUpl {
    width: 13%;
    height: 100%;
    padding: 1%;
}
#openUpload aside.baixoUpload .imgUploadint div, #openUpload aside.baixoUpload .imgUploadint a {
    display: inline-block;
    vertical-align: middle;
}
#openUpload aside.baixoUpload .imgUploadint .imagemUpl img {
    width: 100%;
    height: 100%;
    position: relative;
}
.inputGaleria {
    /* background: rgb(255, 41, 41); */
    /* width: 753px; */
    /* height: 325px; */
    /* max-height: 100%; */
    /* overflow: auto; */
    position: absolute;
    /* top: -129px; */
    display: inline-block;
    left: 1px;
    top: 66px;
}
div.tdImg{
    display: inline-block;
    margin: 1%;
}
.inputGaleria input {
    left:;
    height: 15px;
    background: rgba(255, 255, 255, 0.09);
}
.inputGaleria input:focus { 
    background-color: white;
}
.descAdm {
    width: 100%;
    padding: 3%;
}
input.telefone {
    width: 100%;
}
th.busca_nome,th.busca_telefone{
    width: 17%;
    padding-right: 0px !important;
}
th.busca_email{
    width: 18%;
    padding-right: 0px !important;
}
th.busca_telefone{
    width: 20%;
    padding-right: 0px !important;
}
.busca_nome input {
    width: 54%;
    padding: 5px 0px;
    background: #e4e4e499;
    margin: 0px 3px;
}
.busca_email input {
    width: 55%;
    padding: 5px 4px;
    background: #e4e4e499;
    margin: 0px 3px;
}
input#telefoneInput {
    width: 53%;
    padding: 5px 4px;
    background: #e4e4e499;
    margin: 0px 2px;
}
th.busca_categoria {
    width: 21%;
    padding-right: 0px !important;
}
input#categoriaInput {
    width: 51%;
    padding: 5px 4px;
    background: #e4e4e499;
    margin: 0px 3px;
}
th.busca_data {
    padding-right: 0px !important;
    width: 24%;
}
input {
    width: 45%;
    padding: 3%;
}
::-webkit-input-placeholder {
    color: #808080a8;
    font: 12px verdana, arial, sans-serif;
}
input#inicio, input#fim{
    background: #e4e4e499;    
}
.input-group-addon{
    padding: 6px 6px;
}
div#datepicker {
    width: 72%;
    float: left;
    margin-top: 3px;
    margin-right: 1px;
}
#spamData{
    float: left;
    padding: 8px 2px 0px 0px;
}
a.anexo {
    margin: 1%;
}
section#infoAnexo {
    position: absolute;
    top: 138px;
    z-index: 99;
    border: 8px solid rgba(51, 122, 183, 0.34);
    border-style: groove;
    background: #eee;
    width: 100%;
    height: 78%;
}
section#infoAnexo iframe{
    width: 100%;
    height: 100%
}
button.btn.btn-danger.btn-block.botaoFecharAnexo {
    width: 3%;
    margin: 11px;
    right: 45px;
    position: absolute;
}
input.enviarOrcam {
    opacity: 0.0;
    cursor: pointer;
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0;
    top: 0px;
    background: rgb(12, 82, 210);
}
.buttonEnviarOrcam a.btn-primary {
    position: relative;
    cursor: pointer;
    width: initial;
    height: 34px;
    font-size: 15px;
    text-align: center;
    padding-top: 0.5%;
    /* text-shadow: 0px 0px 1px rgb(210, 12, 23); */
    display: block;
    float: left;
    padding: 5px;
    border-radius: 5px;
}
aside.galeriaDesh {
    position: relative;
    display: inline-block;
}
.uploadArquivo{
    display: inline-block;
    /* vertical-align: middle; */
    float: left;
    top: 10px;
    position: relative;
}
.icon-arquivo{
    width: 1.3em;
    color: black;
}
.exclImgGl span {
    color: white;
    font-size: 22px;
    padding: 0px 6px;
    top: -6px;
    position: relative;
}
.baixoUploadOrcam {
    right: 28%;
    position: absolute;
}
svg.icon.icon-arquivo {
    height: 2.6em;
    float: left;
}
p.esqCorProposta {
    width: 45%;
    display: inline-block;
    background: #d9534f;
    color: white;
    float: right;
    text-align: center;
    border: 1px solid black;
}
button#buttonEnvOrcEmail {
    float: left;
    position: relative;
    display: inline-block;
    /* background-color: rgb(181, 178, 178); */
    border-color: black;
    /* color: #eeeeee; */
    /* text-shadow: 1px 1px 1px black; */
    font-size: 15px;
    padding: 2px;
    margin: 3px 0px;
}
label.btn.btn-default.beds-baths.beds-baths-1{
    /* width: 8%; */
    /* padding: 0.5% 2%; */
    margin-right: 4%;
    padding-right: 2%;
}

label.btn.btn-default.beds-baths.beds-baths-2 {
    /* width: 12%; */
    padding-right: 2%;
}
input#option2 {
    width: 14px;
}
input#option1 {
    width: 14px;
}
.btnRadios{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-default:hover {
    color: #fff;
    background-color: #5cb85c !important;
    border-color: #4cae4c;
}