.tam50{
    width: 58.2%;
    display: inline-block;
}
.tam20{
    width: 20%;
    margin: 0px 10px 0px 0px;
    display: inline-block;
}
.tam25{
    width: 20%;
    display: inline-block;
}
select#ufCad, select#ufCidade {
    width: 25%;
    display: inline-block;
    background: #80808045;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #00000045;
    height: 34px;
}
select#ufCidade{
    margin: 0px 0px 0px 10px;

}
.foto {
    margin-bottom: 1%;
}
.foto a {
    position: relative;
    cursor: pointer;
    width: initial;
    /* height: 80%; */
    font-size: 15px;
    text-align: center;
    padding-top: 0.5%;
    /* text-shadow: 0px 0px 1px rgb(210, 12, 23); */
/*     display: block;
    float: right; */
    padding: 5px;
    border-radius: 5px;
}
.foto a input {
    opacity: 0.0;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(12, 82, 210);
}
aside.galeriaDesh {
    position: relative;
    display: inline-block;
    margin-bottom: 1%;
}
.galeriaDesh img {
    max-width: 170px;
}
a.exclImgGl {
    position: absolute;
    right: 1px;
    top: 0px;
    /* border-radius: 70px; */
    background: rgba(255, 0, 0, 0.57);
    width: 22px;
    height: 22px;
    box-shadow: 1px 1px 0px black;
}
.exclImgGl span {
    color: white;
    font-size: 22px;
    padding: 0px 6px;
    top: -6px;
    position: relative;
}
input.email_parceiros {
    width: 95%;
    display: inline-block;
}
.label_email{
    display: block;
}
.btn_editar_parceiros{
    margin: 0px 5px;
}