section#barra
	div.col-sm-10.Social1
		div.orcamentoHover(title="Faça seu Orçamento")
			div.circle#circleOrc
				a(href="#")
					svg.icon.icon-phone
						use(xlink:href='#icon-calculator')
			div.informacao#bntOrcamento
				a
					h4.orcamento Orçamento
		div
			div.circle
				svg.icon.icon-phone
					use(xlink:href='#icon-phone')
			div.informacao
				h4.telefone (62) 3291-7005
		div#divWhats
			div.circle
				svg.icon.icon-phone
					use(xlink:href='#icon-whatsapp')
			div.informacao
				h4.whats (62) 99154-9334
		div#divEmail
			div.circle
				svg.icon.icon-phone
					use(xlink:href='#icon-envelop')
			div.informacao
				h4.email contato@megarefrigeracao.com.br
	.col-sm-2.Social2
		div.Linkdin
			a(href='https://www.linkedin.com/in/mega-refrigera%C3%A7%C3%A3o-16b1968a/', target='_blank', class="btn btn-link", style="width: 100%;height: 100%;", title="Visite nosso Linkdin")
		div.Google
			a(href='https://plus.google.com/+MegaRef?hl=pt_BR',target='_blank', class="btn btn-link", style="width: 100%;height: 100%;", title="Visite nosso Google+")
		//- div.Insta
		//- 	a(href='')
		div.Face
			a(href='https://www.facebook.com/megarefrigeracao14/',target='_blank', class="btn btn-link", style="width: 100%;height: 100%;", title="Visite nosso Facebook")
