#primary.CarroselInvertido
	.slider
		.bx-wrapper(style='max-width: 250px;')
			.bx-viewport(style='width: 100%; overflow: hidden; position: relative; height: 386px;')
				ul.bxslider(style='width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, -615px, 0px);')
					//- li.bx-clone(style='float: none; list-style: none; position: relative; width: 850px; margin-bottom: 5px;')
					//- 	img(src='/images/tb1.jpg')
					//- 	img(src='/images/tb1.jpg')
					//- 	img(src='/images/tb1.jpg')
					//- li(style='float: none; list-style: none; position: relative; width: 850px; margin-bottom: 5px;')
					//- 	img(src='/images/tb2.jpg')
					//- 	img(src='/images/tb2.jpg')
					//- 	img(src='/images/tb2.jpg')
					//- li(style='float: none; list-style: none; position: relative; width: 850px; margin-bottom: 5px;')
					//- 	img(src='/images/tb3.jpg')
					//- 	img(src='/images/tb3.jpg')
					//- 	img(src='/images/tb3.jpg')
					//- li(style='float: none; list-style: none; position: relative; width: 850px; margin-bottom: 5px;')
					//- 	img(src='/images/tb4.jpg')
					//- 	img(src='/images/tb4.jpg')
					//- 	img(src='/images/tb4.jpg')
					//- li.bx-clone(style='float: none; list-style: none; position: relative; width: 850px; margin-bottom: 5px;')
					//- 	img(src='/images/tb1.jpg')
					//- 	img(src='/images/tb1.jpg')
					//- 	img(src='/images/tb1.jpg')
