#carouselExampleIndicators.carousel.slide(data-ride='carousel',data-interval='0')
	//- ol.carousel-indicators
	//- 	li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
	//- 	li(data-target='#carouselExampleIndicators', data-slide-to='1')
	//- 	li(data-target='#carouselExampleIndicators', data-slide-to='2')
	.carousel-inner(role='listbox')
		.item.itemInstalacao
			include instalacao
		.item.itemServico.active
			include servico
		.item.itemManutencao
			include manutencao
	//- a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
	//- 	span.carousel-control-prev-icon(aria-hidden='true')
	//- 	span.sr-only Previous
	//- a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
	//- 	span.carousel-control-next-icon(aria-hidden='true')
	//- 	span.sr-only Next

//- #carouselExampleControls.carousel.slide(data-ride='carousel')
	.carousel-inner(role='listbox')
		.carousel-item.active
			include instalacao
		.carousel-item
			include servico
		.carousel-item
			include manutencao
	a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
		span.carousel-control-prev-icon(aria-hidden='true')
		span.sr-only Previous
	a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
		span.carousel-control-next-icon(aria-hidden='true')
		span.sr-only Next