section#carrossel.container-fruid
	#myCarousel.carousel.slide(data-ride='carousel',data-interval='4000')
		ol.carousel-indicators
			include html/indicadores.html
		.carousel-inner(role="listbox")
			include html/imagens.html