section#clientes.container
	.col-md-12
		ul#list-group
			li.text-center#linha1
				//- img.img-thumbnail#madero(src='../../../images/clientes/madero.png', alt='doutor', width='170', height='170')
				//- img.img-thumbnail#bk(src='../../../images/clientes/BK.png', alt='doutor', width='170', height='170')
				//- img.img-thumbnail#dela(src='../../../images/clientes/dela.png', alt='doutor', width='170', height='170')
				//- img.img-thumbnail#outback(src='../../../images/clientes/outback.png', alt='doutor', width='170', height='170')
				//- img.img-thumbnail#rioQuente(src='../../../images/clientes/rioQuente.png', alt='doutor', width='170', height='170')
				//- img.img-thumbnail#carrefour(src='../../../images/clientes/carrefour.png', alt='doutor', width='170', height='170')
				//- img.img-thumbnail#extra(src='../../../images/clientes/extra.png', alt='doutor', width='170', height='170')
				//- img.img-thumbnail#paoAcucar(src='../../../images/clientes/paoAcucar.png', alt='doutor', width='170', height='170')