// footer start from here
.copyright
  .container
    .col-md-4
      p © 2017 - Mega Refrigeração
    .col-md-8
      ul.bottom_ul
        li
          a(href="/") HOME
        li
          a(name='empresa') A EMPRESA
        li
          a(name='produtos') PRODUTOS
        li
          a(name='servico') SERVIÇOS
        li
          a(href="/dicas" name='dicas') DICAS                  
        li
          a(name='clientes') CLIENTES
        li
          a(name='parceiros') PARCEIROS  
        li
          a(name='contato') CONTATO