// footer start from here
.copyright
  .container
    .col-md-4
      p © 2017 - Mega Refrigeração
    .col-md-8
      ul.bottom_ul
        li
          a(href="/") HOME        
        li
          a(href="/#empresa" name='empresa') A EMPRESA
        li
          a(href="/#produtos" name='produtos') PRODUTOS
        li
          a(href="/#servico" name='servico') SERVIÇOS
        li
          a(href="/dicas" name='dicas') DICAS
        li
          a(href="/#clientes" name='clientes') CLIENTES
        li
          a(href="/#parceiros" name='parceiros') PARCEIROS  
        li
          a(href="/#contato" name='contato') CONTATO