meta(name="viewport" content="width=device-width, initial-scale=1")
	//- <meta name="viewport" content="initial-scale=1, maximum-scale=1">
link(rel='stylesheet', href='stylesheets/css/libs/booststrap-aux.css')
link(rel='stylesheet', href='stylesheets/css/libs/bootstrap.css')
link(rel='stylesheet', href='stylesheets/css/mylibs/dicas.css')
link(rel='stylesheet', href='stylesheets/css/mylibs/barra.css')
link(rel='stylesheet', href='stylesheets/css/mylibs/footer.css')
link(rel='stylesheet', href='stylesheets/css/mylibs/empresa.css')
link(rel='stylesheet', href='stylesheets/css/mylibs/orcamento.css')
link(rel='stylesheet', href='stylesheets/css/mylibs/dinamico/all2.css')
link(rel='stylesheet', href='stylesheets/css/libs/demo.css')
link(rel='stylesheet', href='stylesheets/css/mylibs/admin/alert.css')
link(rel='stylesheet', href='stylesheets/css/mylibs/loading.css')
link(rel='stylesheet', href='stylesheets/css/mylibs/media/mediaQuery.css')
section#logo_dicas
	.row
		a(href="/")
			img.img-responsive.img_dicas(src="images/logo/logo.png", title="megarefrigeracao.com.br")
section#orcamento.container
	button(type="button", class="btn btn-danger btn-block botaoFechar") X
	.row.orcamentoTela
		include orcamento
include iconSVG
include barra
section#dicas.container
	a(href="/dicas")
		h1.text-center DICAS E NOVIDADES
	// - console.log(article0)
	each artigo in article0
		- var content = artigo.content
		#{content}/
.row.linhaPaginacao
	- var qnt = 21;
	- var resto = qnt%7;
		nav#pagDicas(aria-label='Page navigation')
			ul.pagination
				if resto
					- for(var i=1; i <= parseInt(qnt/7)+1; i++ ) 
						li.page-item
							a.page-link(href="/dicas"+i) #{i}
							//- 	| #{i}
				else
					- for(var i=1; i<=qnt/7; i++ ) 
						li.page-item
							a.page-link(href="/dicas"+i) #{i}
include footer
include copyrightDicas
script(src="js/jquery-3.2.1.min.js")
script(src="js/jquery.maskedinput.js")
script(src="js/dicas.js")
script(src="js/funcoes.js")
script(src="js/validacao/orcamento.js")
script(src="js/orcamento.js")
