section#empresa.container
	.row.Info-Empresa
		.col-md-9.ftEmp
			h3.text-justify NOSSA POLÍTICA DE QUALIDADE É: 
			p.text-justify Aprendizado constante no contato, com nossos clientes e fornecedores,buscando aprimorar nossos serviços e garantir a qualidade dos mesmos. 
			h3.text-justify NOSSA MISSÃO É: 
			p.text-justify Suprir as necessidades de nossos clientes, oferecendo qualidade e eficiência, através de nossos serviços.
			h3.text-justify NOSSOS VALORES SÃO: 
			p.text-justify Acreditar e cultivar a fé em Deus, o amor à família, prezando os valores étnicos, morais e humanos.
	.row.empresaImg
		.col-md-12
			ul#list-group
				li.list-group-item#foto01
					//- img.img-circle(src='../../../images/img1.png', alt='doutor', width='170', height='170')
					//- img.img-circle(src='../../../images/img2.jpg', alt='doutor', width='170', height='170')
					//- img.img-circle(src='../../../images/img3.jpg', alt='doutor', width='170', height='170')
					//- img.img-circle(src='../../../images/img3.jpg', alt='doutor', width='170', height='170')
					//- img.img-circle(src='../../../images/img3.jpg', alt='doutor', width='170', height='170')


