link(href='https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css', rel='stylesheet')
// footer start from here
footer
  .container
    .row
      .col-md-4.col-sm-6(style="margin-top: 50px;")
        .logofooter.logoMarcaFooter
          a(href="/")
            img(src='../../../images/logo.png', height="100", width="110", title="megarefrigeracao.com.br")
        p
          | Primamos pela satisfação do cliente, com nossos produtos e serviços prestados.
        p
          i.fa.fa-map-pin
          |  Av. Perimetral, 565 - St. Centro Oeste, Goiânia - GO, 74550-045
        p
          i.fa.fa-phone
          |  Telefone : (62) 3291-7005        
        p
          i.fa.fa-whatsapp
          |  Telefone : (62) 99154-9334
        p
          i.fa.fa-envelope
          |  E-mail : contato@megarefrigeracao.com.br
      .col-md-4.col-sm-6
        //- h6.heading7 ÚLTIMAS PUBLICAÇÕES
        //- .post
        //-   p
        //-     | facebook crack the movie advertisment code:what it means for you 
        //-     span August 3,2015
        //-   p
        //-     | facebook crack the movie advertisment code:what it means for you 
        //-     span August 3,2015
        //-   p
        //-     | facebook crack the movie advertisment code:what it means for you 
        //-     span August 3,2015
      .col-md-4.col-sm-6(style="margin-top: 50px;")
        .fb-page(data-href='https://www.facebook.com/facebook', data-tabs='timeline', data-height='300', data-small-header='false', style='margin-bottom:15px;', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
          .fb-xfbml-parse-ignore
            blockquote(cite='https://www.facebook.com/megarefrigeracao14/')
              a(href='https://www.facebook.com/megarefrigeracao14/', target='_blank', title="Visite nosso Facebook") Facebook            
            //- blockquote(cite='')
            //-   a(href='') Instagram            
            blockquote(cite='https://plus.google.com/+MegaRef?hl=pt_BR')
              a(href='https://plus.google.com/+MegaRef?hl=pt_BR', target='_blank',title="Visite nosso Google+") Google+
            blockquote(cite='https://www.linkedin.com/in/mega-refrigera%C3%A7%C3%A3o-16b1968a/')
              a(href='https://www.linkedin.com/in/mega-refrigera%C3%A7%C3%A3o-16b1968a/', target='_blank', title="Visite nosso LinkedIn") LinkedIn