svg(style='position: absolute; width: 0; height: 0; overflow: hidden;', version='1.1', xmlns='http://www.w3.org/2000/svg')
	defs
		symbol#icon-phone(viewbox='2 0 33 33')
			title phone
			path(d='M22 20c-2 2-2 4-4 4s-4-2-6-4-4-4-4-6 2-2 4-4-4-8-6-8-6 6-6 6c0 4 4.109 12.109 8 16s12 8 16 8c0 0 6-4 6-6s-6-8-8-6z')
		symbol#icon-envelop(viewbox='3 0 34 34')
			title envelop
			path(d='M29 4h-26c-1.65 0-3 1.35-3 3v20c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-20c0-1.65-1.35-3-3-3zM12.461 17.199l-8.461 6.59v-15.676l8.461 9.086zM5.512 8h20.976l-10.488 7.875-10.488-7.875zM12.79 17.553l3.21 3.447 3.21-3.447 6.58 8.447h-19.579l6.58-8.447zM19.539 17.199l8.461-9.086v15.676l-8.461-6.59z')
		symbol#icon-whatsapp(viewbox='3 0 32 32')
			title whatsapp
			path(d='M27.281 4.65c-2.994-3-6.975-4.65-11.219-4.65-8.738 0-15.85 7.112-15.85 15.856 0 2.794 0.731 5.525 2.119 7.925l-2.25 8.219 8.406-2.206c2.319 1.262 4.925 1.931 7.575 1.931h0.006c0 0 0 0 0 0 8.738 0 15.856-7.113 15.856-15.856 0-4.238-1.65-8.219-4.644-11.219zM16.069 29.050v0c-2.369 0-4.688-0.637-6.713-1.837l-0.481-0.288-4.987 1.306 1.331-4.863-0.313-0.5c-1.325-2.094-2.019-4.519-2.019-7.012 0-7.269 5.912-13.181 13.188-13.181 3.519 0 6.831 1.375 9.319 3.862 2.488 2.494 3.856 5.8 3.856 9.325-0.006 7.275-5.919 13.188-13.181 13.188zM23.294 19.175c-0.394-0.2-2.344-1.156-2.706-1.288s-0.625-0.2-0.894 0.2c-0.262 0.394-1.025 1.288-1.256 1.556-0.231 0.262-0.462 0.3-0.856 0.1s-1.675-0.619-3.188-1.969c-1.175-1.050-1.975-2.35-2.206-2.744s-0.025-0.613 0.175-0.806c0.181-0.175 0.394-0.463 0.594-0.694s0.262-0.394 0.394-0.662c0.131-0.262 0.069-0.494-0.031-0.694s-0.894-2.15-1.219-2.944c-0.319-0.775-0.65-0.669-0.894-0.681-0.231-0.012-0.494-0.012-0.756-0.012s-0.694 0.1-1.056 0.494c-0.363 0.394-1.387 1.356-1.387 3.306s1.419 3.831 1.619 4.1c0.2 0.262 2.794 4.269 6.769 5.981 0.944 0.406 1.681 0.65 2.256 0.837 0.95 0.3 1.813 0.256 2.494 0.156 0.762-0.113 2.344-0.956 2.675-1.881s0.331-1.719 0.231-1.881c-0.094-0.175-0.356-0.275-0.756-0.475z')
		symbol#icon-calculator(viewbox='3 0 32 32')
			title calculator
			path(d='M22.812 0h-15.624c-2.361 0-4.282 1.921-4.282 4.282v23.436c0 2.36 1.921 4.282 4.282 4.282h15.624c2.361 0 4.282-1.921 4.282-4.282v-23.436c0-2.361-1.921-4.282-4.282-4.282zM25.742 27.718c0 1.615-1.314 2.93-2.93 2.93h-15.624c-1.615 0-2.93-1.314-2.93-2.93v-23.436c0-1.615 1.314-2.93 2.93-2.93h15.624c1.615 0 2.93 1.314 2.93 2.93v23.436z')
			path(d='M22.512 3.605h-15.024c-0.374 0-0.676 0.302-0.676 0.676v4.914c0 0.374 0.302 0.676 0.676 0.676h15.024c0.374 0 0.676-0.302 0.676-0.676v-4.914c0-0.374-0.302-0.676-0.676-0.676zM21.836 8.519h-13.672v-3.562h13.672v3.562z')
			path(d='M15 12.019c-1.367 0-2.479 1.112-2.479 2.479s1.112 2.479 2.479 2.479c1.367 0 2.479-1.112 2.479-2.479s-1.112-2.479-2.479-2.479zM15 16.076c-0.87 0-1.578-0.708-1.578-1.578s0.708-1.578 1.578-1.578c0.87 0 1.578 0.708 1.578 1.578s-0.707 1.578-1.578 1.578z')
			path(d='M9.516 12.019c-1.367 0-2.479 1.112-2.479 2.479s1.112 2.479 2.479 2.479 2.479-1.112 2.479-2.479c0-1.367-1.112-2.479-2.479-2.479zM9.516 16.076c-0.87 0-1.577-0.708-1.577-1.578s0.708-1.578 1.577-1.578 1.578 0.708 1.578 1.578c0 0.87-0.708 1.578-1.578 1.578z')
			path(d='M20.484 12.019c-1.367 0-2.479 1.112-2.479 2.479s1.112 2.479 2.479 2.479c1.367 0 2.479-1.112 2.479-2.479s-1.112-2.479-2.479-2.479zM20.484 16.076c-0.87 0-1.578-0.708-1.578-1.578s0.708-1.578 1.578-1.578c0.87 0 1.577 0.708 1.577 1.578s-0.708 1.578-1.577 1.578z')
			path(d='M15 17.428c-1.367 0-2.479 1.112-2.479 2.479s1.112 2.479 2.479 2.479c1.367 0 2.479-1.112 2.479-2.479s-1.112-2.479-2.479-2.479zM15 21.484c-0.87 0-1.578-0.708-1.578-1.577s0.708-1.578 1.578-1.578c0.87 0 1.578 0.707 1.578 1.578s-0.707 1.577-1.578 1.577z')
			path(d='M9.516 17.428c-1.367 0-2.479 1.112-2.479 2.479s1.112 2.479 2.479 2.479 2.479-1.112 2.479-2.479c0-1.367-1.112-2.479-2.479-2.479zM9.516 21.484c-0.87 0-1.577-0.708-1.577-1.577s0.708-1.578 1.577-1.578 1.578 0.707 1.578 1.578c0 0.87-0.708 1.577-1.578 1.577z')
			path(d='M20.484 17.428c-1.367 0-2.479 1.112-2.479 2.479s1.112 2.479 2.479 2.479c1.367 0 2.479-1.112 2.479-2.479s-1.112-2.479-2.479-2.479zM20.484 21.484c-0.87 0-1.578-0.708-1.578-1.577s0.708-1.578 1.578-1.578c0.87 0 1.577 0.707 1.577 1.578s-0.708 1.577-1.577 1.577z')
			path(d='M15 22.836c-1.367 0-2.479 1.112-2.479 2.479s1.112 2.479 2.479 2.479c1.367 0 2.479-1.112 2.479-2.479s-1.112-2.479-2.479-2.479zM15 26.893c-0.87 0-1.578-0.708-1.578-1.578s0.708-1.578 1.578-1.578c0.87 0 1.578 0.707 1.578 1.578s-0.707 1.578-1.578 1.578z')
			path(d='M9.516 22.836c-1.367 0-2.479 1.112-2.479 2.479s1.112 2.479 2.479 2.479 2.479-1.112 2.479-2.479c0-1.367-1.112-2.479-2.479-2.479zM9.516 26.893c-0.87 0-1.577-0.708-1.577-1.578s0.708-1.578 1.577-1.578 1.578 0.707 1.578 1.578c0 0.87-0.708 1.578-1.578 1.578z')
			path(d='M20.484 22.836c-1.367 0-2.479 1.112-2.479 2.479s1.112 2.479 2.479 2.479c1.367 0 2.479-1.112 2.479-2.479s-1.112-2.479-2.479-2.479zM20.484 26.893c-0.87 0-1.578-0.708-1.578-1.578s0.708-1.578 1.578-1.578c0.87 0 1.577 0.707 1.577 1.578s-0.708 1.578-1.577 1.578z')
		symbol#icon-lixeira(viewbox='0 0 32 32')
			title lixeira
			path(d='M4 10v20c0 1.1 0.9 2 2 2h18c1.1 0 2-0.9 2-2v-20h-22zM10 28h-2v-14h2v14zM14 28h-2v-14h2v14zM18 28h-2v-14h2v14zM22 28h-2v-14h2v14z')
			path(d='M26.5 4h-6.5v-2.5c0-0.825-0.675-1.5-1.5-1.5h-7c-0.825 0-1.5 0.675-1.5 1.5v2.5h-6.5c-0.825 0-1.5 0.675-1.5 1.5v2.5h26v-2.5c0-0.825-0.675-1.5-1.5-1.5zM18 4h-6v-1.975h6v1.975z')
		symbol#icon-arquivo(viewbox='0 0 32 32')
			title arquivo
			path(d='M28.681 7.159c-0.694-0.947-1.662-2.053-2.724-3.116s-2.169-2.030-3.116-2.724c-1.612-1.182-2.393-1.319-2.841-1.319h-15.5c-1.378 0-2.5 1.121-2.5 2.5v27c0 1.378 1.122 2.5 2.5 2.5h23c1.378 0 2.5-1.122 2.5-2.5v-19.5c0-0.448-0.137-1.23-1.319-2.841zM24.543 5.457c0.959 0.959 1.712 1.825 2.268 2.543h-4.811v-4.811c0.718 0.556 1.584 1.309 2.543 2.268zM28 29.5c0 0.271-0.229 0.5-0.5 0.5h-23c-0.271 0-0.5-0.229-0.5-0.5v-27c0-0.271 0.229-0.5 0.5-0.5 0 0 15.499-0 15.5 0v7c0 0.552 0.448 1 1 1h7v19.5z')
			path(d='M23 26h-14c-0.552 0-1-0.448-1-1s0.448-1 1-1h14c0.552 0 1 0.448 1 1s-0.448 1-1 1z')
			path(d='M23 22h-14c-0.552 0-1-0.448-1-1s0.448-1 1-1h14c0.552 0 1 0.448 1 1s-0.448 1-1 1z')
			path(d='M23 18h-14c-0.552 0-1-0.448-1-1s0.448-1 1-1h14c0.552 0 1 0.448 1 1s-0.448 1-1 1z')


