section#instalacao.container-fruid
	.row.telaInstalacao
		.col-md-6
			h3.text-center Instalação
			p.text-justify As câmaras frias são projetadas de acordo com a necessidade de cada cliente.As aplicações são em locais, que precisam de alto nível de resfriamente, como: frigoríficos ou em locais, que conservam produtos refrigerados.
			p.text-justify Trabalhamos com profissionais experientes, para a realização da instalação e reparos das câmaras frias. Temos como objetivo, a prestação de serviços com qualidade, para que o resultado final seja impecável e a satisfação dos nossos clientes esteja garantida.
			p.text-justify Não deixe de fazer orçamento, para a instalação e reparos das câmaras frias, com a Mega Refrigeração. Basta clicar no botão abaixo:
		.col-md-6
			ul#list-group
				li.list-group-item#fotos(onclick="modalImg(this)")
					img.img-circle(src='../../../images/Sprites/foto04camarafrigorifica.png', alt='istalacao', width='170', height='170', title='Clique para aumentar a imagem')
				li.list-group-item#fotos(onclick="modalImg(this)")
					img.img-circle(src='../../../images/Sprites/foto01camarafrigorifica.png', alt='istalacao', width='170', height='170', title='Clique para aumentar a imagem')
				li.list-group-item#fotos(onclick="modalImg(this)")
					img.img-circle(src='../../../images/Sprites/foto02camarafrigorifica.png', alt='istalacao', width='170', height='170', title='Clique para aumentar a imagem')
				li.list-group-item#fotos(onclick="modalImg(this)")
					img.img-circle(src='../../../images/Sprites/foto03camarafrigorifica.png', alt='istalacao', width='170', height='170', title='Clique para aumentar a imagem')
	.row.Orcamento2
		button.iconorc.btn#btnOrcamento2(title="Faça seu Orcamento")
			a(href="#")
				svg.icon.icon-phone
					use(xlink:href='#icon-calculator')
			|Orçamento
button(type="button", class="btn btn-danger btn-block botaoFechar1") X