doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= title
		//- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/css/libs/demo.css')
		//- link(rel='stylesheet', href='stylesheets/css/libs/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/css/libs/booststrap-aux.css')
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='stylesheets/css/libs/bootstrap.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/barra.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/logo.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/carrosel.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/carrosel2.css')
		link(href='stylesheets/css/libs/jquery.bxslider.css', rel='stylesheet')
		link(rel='stylesheet', href='stylesheets/css/mylibs/menu.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/empresa.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/produtos.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/servico.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/instalacao.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/manutencao.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/clientes.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/parceiros.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/contato.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/footer.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/orcamento.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/dicas.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/slidervertical.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/admin/alert.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/loading.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/media/mediaQuery.css')
		link(rel='stylesheet', href='stylesheets/css/mylibs/dinamico/all2.css')
		script(src="js/jquery-3.2.1.min.js")
		script(type='text/javascript', src='js/jquery.bxslider.js')
		script(src="js/jquery.maskedinput.js")

	body
	//- block content
	include iconSVG
	include barra
	include logo	
	include carrosel
	include carrosel2
	include menu
	include empresa
	include produtos
	//- include servico
	include carroselServico
	//- include dicas
	//- include instalacao
	//- include manutencao
	include clientes
	include parceiros
	include contato
	include footer
	include copyright
	include manuntProdutos
	section#orcamento.container
		button(type="button", class="btn btn-danger btn-block botaoFechar") X
		.row.orcamentoTela
			include orcamento
script(src="js/bootstrap.min.js")
script(src="js/jquery.base64.js")
script(src="js/jquery.touchSwipe.min.js")
script(src="js/opUfCidade.js")
script(src="js/home.js")
script(src="js/slidervertical.js")
script(src="js/empresa.js")
script(src="js/distrib.js")
script(src="js/fotosClientes.js")
script(src="js/funcoes.js")
script(src="js/validacao/orcamento.js")
script(src="js/orcamento.js")
script(src="js/parceiros.js")
script(src="js/contato.js")
script(src="js/validacao/contato.js")
script(src="js/carroselServico.js")
script(src='js/markerclusterer.js')
script(async='', defer='', src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGz2UrkWqDVdKOpq0SiFhkyDzYOYab4QI&callback=initMap")


