section#manutencao.container-fruid
	.row.telaManutencao
		div.col-md-6(style="margin-top: 2%;")
			h3.text-center Manutenção de Câmaras Frigorificas
			p.text-justify As câmaras frias são projetadas de acordo com a necessidade de cada cliente. As aplicações são em locais, que precisam de alto nível de resfriamente, como: frigoríficos ou em locais, que conservam produtos refrigerados
				button.btn.btn-link(name='manutCamFrig' type='button') Ler Mais

			h3.text-center Manutenção de Compressores
			p.text-justify Para garantir uma manutenção confiável aos compressores é necessário seguir estes procedimentos: Leitura do manual do compressor: Por mais irrelevante que pareça, antes de começar a fazer vistorias em um compressor de ar
				button.btn.btn-link(name='manutCompres' type='button') Ler Mais

			h3.text-center Manutenção de Chiller
			p.text-justify Os Chillers são, basicamente, resfriadores de água. A água gelada produzida por eles é utilizada com o objetivo de arrefecer o ar, produtos ou equipamentos conforme necessidade.
				button.btn.btn-link(name='manutChiller' type='button') Ler Mais

			h3.text-center Manutenção de Câmaras de Estabilidade
			p.text-justify As câmaras de Estabilidade oferecem precisão, confiabilidade e facilidade de manutenção. Trabalhamos com equipamentos, que atendem as normas da ANVISA e de outros órgãos regulamentadores aplicáveis à ensaios de comprovação de estabilidade de produtos.
				button.btn.btn-link(name='manutCamEst' type='button') Ler Mais
		.col-md-6
			ul#list-group
				li.list-group-item#fotos(onclick="modalImg(this)")
					img.img-circle(src='../../../images/Sprites/foto02camarafrigorifica.png', alt='cameraFria', width='170', height='170', title="Clique para aumentar a imagem")
				li.list-group-item#fotos(onclick="modalImg(this)")
					img.img-circle(src='../../../images/Sprites/foto02compressor.png', alt='compressor', width='170', height='170', title="Clique para aumentar a imagem")
				li.list-group-item#fotos(onclick="modalImg(this)")
					img.img-circle(src='../../../images/Sprites/foto03chiller.png', alt='chiller', width='170', height='170', title="Clique para aumentar a imagem")
				li.list-group-item#fotos(onclick="modalImg(this)")
					img.img-circle(src='../../../images/Sprites/foto03camaraestabilidade.png', alt='estabilidade', width='170', height='170', title="Clique para aumentar a imagem")
		//- button(type="button", class="btn btn-danger btn-block botaoFechar") X

		.row.Orcamento3
			button.iconorc.btn#btnOrcamento2(title="Faça seu Orcamento")
				a(href="#")
					svg.icon.icon-phone
						use(xlink:href='#icon-calculator')
				|Orçamento
	button(type="button", class="btn btn-danger btn-block botaoFechar2") X
