div.navMenu.scrolled(role='navigation')
	div#menu.navbar-wrapper
		.container#menuCont.col-sm-12
			nav.navbar.navbar-static-top
				.container
					.navbar-header
						button#botaoMenu.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#')
					div.logoMarca(title="megarefrigeracao.com.br")
						a(href="#")
							div.backgroundLogo(style="width: 100px;")
								include html/logo.html
					#navbar.navbar-collapse.collapse.col-sm-offset-1
						ul.nav.navbar-nav.ListaMenu
							li
								a(name='empresa')
									h4.text-center A EMPRESA
							li
								a(name='produtos')
									h4.text-center PRODUTOS
							li
								a(name='servico')
									h4.text-center SERVIÇOS
							li
								a(href="/dicas" name='dicas')
									h4.text-center DICAS
							li
								a(name='clientes')
									h4.text-center CLIENTES
							li
								a(name='parceiros')
									h4.text-center PARCEIROS	
							li
								a(name='contato')
									h4.text-center CONTATO
							button.iconorc.btn#btnOrcamento2(title="Faça seu Orçamento")
								a(href="#")
								|ORÇAMENTO
			//- button.btn.btn-default(type='button', aria-label='Left Align')
			//- 	span.glyphicon.glyphicon-menu-hamburger(aria-hidden='true')
