.col-sm-6
	form(method="POST",action="/", class="form-orcamento", name="form-orcamento")
		div(class="form-group formRadio")
			input(type='radio', name='opcoesOrc', value='produto', class='radioOrc', checked)
			label Produto
			input(type='radio', name='opcoesOrc', value='assistTecnica', class='radioOrc')
			label Assistencia Tecnica
			//- input(type='radio', name='opcoes', value='duvidas')
			//- label Dúvidas
		fieldset#usuario
			legend
				| Identificação do Usuário
			div(class="input-group")
				span#basic-addon1.input-group-addon Nome
				input.form-control#nome(type='text', placeholder='Digite o Nome', aria-describedby='basic-addon1')
			div(class="input-group")
				span#basic-addon1.input-group-addon E-mail
				input.form-control#email(type='email', placeholder='Digite o E-mail', aria-describedby='basic-addon1', onblur="validacaoEmail(document.querySelector('.form-orcamento #email'))")
			div(class="input-group")
				span#basic-addon1.input-group-addon Telefone
				input.form-control#telefone.telefone(type='text', placeholder='Digite o Telefone', aria-describedby='basic-addon1')
		fieldset#produto
			legend
				| Orçamento do Produto
			div(class="input-group")
				span#basic-addon1.input-group-addon Nome
				input.form-control#proNome(type='text', placeholder='Digite o Nome do Produto', aria-describedby='basic-addon1')
			div(class="input-group")
				//- span#basic-addon1.input-group-addon Descrição
				textarea.form-control#proDescricao(placeholder='Digite a Descrição do Produto', rows="4" cols="50")
			div(class="input-group formQtd")
				span#basic-addon1.input-group-addon.ocultarQtd Quantidade
				input.form-control#proQtdade.ocultar(type='number', name='tQtd', min='0', max='99', value='0',aria-describedby='basic-addon1')
				//- a ANEXO
				div.foto
					a.btn-primary
						span.glyphicon.glyphicon-paperclip
						|ANEXO
						input.btnLimpar(type="file", name="file-original", id="file-original")
						div
			aside.baixoUpload
.col-sm-6.ListaProduto.ocultar
	.container
	h2 Lista de Produtos
	p Lista de todos os produtos que se deseja fazer o orçamento:
	table.table.table-bordered
		thead
			tr
				th Produto
				th Descrição
				th Qtde
				th Foto
				th Excluir
		tbody
div.botoesOrcamento
	div.adicionar.ocultarAdd
		button(type="button", class="btn btn-primary btn-block botaoEnviarOrcmento" title="Clique para adicionar este produto à lista de produtos") ADICIONAR A LISTA
	div.enviar
		button.btn.btn-success#enviarOrc(type='button', disabled="disabled" title="Clique para enviar seu orçamento") ENVIAR
//- script(src="js/orcamento.js")

