section#parceiros.container
	#modal_parceiros
		.modalParceiros
			.row#row_info
				.col-sm-2#name_foto
					img
				.col-sm-9
					.row
						.col-sm-4.titulos
							p Nome da Empresa:
						.col-sm-8.tabela_info
							p#name_empresa
					.row
						.col-sm-4.titulos
							p Nome do Proprietário:
						.col-sm-8.tabela_info
							p#name_proprietario
					.row
						.col-sm-4.titulos
							p E-mail:
						.col-sm-8.tabela_info
							p#name_email
					.row
						.col-sm-4.titulos
							p Telefone:
						.col-sm-8.tabela_info
							p#name_telefone
					.row
						.col-sm-4.titulos
							p Descrição:
						.col-sm-8.tabela_info
							p#name_descricao
					.row
						.col-sm-4.titulos
							p Endereço:
						.col-sm-8.tabela_info
							p#name_endereco
	form
		.row.selects.form-group
			label ESTADO:
				select.form-control#ufCad(name="uf" title="Selecione o estado no qual deseja ver nossos parceiros")
			label CIDADE:
				select.form-control#ufCidade(name="cidade" title="Selecione a cidade no qual deseja ver nossos parceiros")
					option
		.row.lista_parceiros
			.col-sm-5#lista_parceiros
				ul.list-group.ul_parceiros
			//- .col-sm-7#iframe
			//- 	//- iframe(src='', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
			.col-sm-7#map


