section#produtos.container
	.row
		.col-md-12
			h3.text-center Trabalhamos com os melhores distribuidores do mercado.
	.row.produtosImg
		.col-md-12
			ul#list-group
				li.list-group-item#fotos(title="Clique para visitar o site")
					//- a.test(href="http://www.danfoss.com.br/produtos-e-solu%C3%A7%C3%B5es/#/" target="_blank")
					//- 	img.img-circle(src='../../../images/produtos/danfoss.png', alt='doutor', width='170', height='170')
					//- a.test(href="http://www.tecumseh.com/pt/South-America/Products" target="_blank")
					//- 	//- img.img-circle(src='../../../images/produtos/tecumseh.png', alt='doutor', width='170', height='170')
					//- a.test(href="https://www.bitzer.de/br/pt/produtos/Tecnologias/Compressores-alternativos/" target="_blank")
					//- 	//- img.img-circle(src='../../../images/produtos/bitzer.png', alt='doutor', width='170', height='170')
					//- a.test(href="http://www.elgin.com.br/institucional/lista_categoria_refrigeracao.php?cat=MTMsIDE0LCAxNSwgMTYsIDE3LCAxOCwgMTksIDIwLCAyMSwgMjI=&titulo=UmVmcmlnZXJhJmNjZWRpbDsmYXRpbGRlO28=" target="_blank")
					//- 	//- img.img-circle(src='../../../images/produtos/elgin.png', alt='doutor', width='170', height='170')
					//- a.test(href="http://mecalor.com.br/produtos/	" target="_blank")
					//- 	//- img.img-circle(src='../../../images/produtos/mecalor.png', alt='doutor', width='170', height='170')
	.row
		.col-sm-11.segFrase
			h3.text-justify Oferecemos o quê há de melhor em produtos de refrigeração. Para acessá-los, escolha um de nossos distribuidores acima.