section#servico.container
	.row.servicoImg
		.col-md-6.btnServico
			h3.text-center Instalação
			ul#list-group
				li.list-group-item#fotoInstalacao.text-center
					a.test
						img.img-circle#imgInst(src='../../../images/Sprites/instalacao.png', width='170', height='170')
		.col-md-6.btnServico
			h3.text-center Manutenção
			ul#list-group
				li.list-group-item#fotos.text-center
					a.test
						img.img-circle#imgManut(src='../../../images/Sprites/manutencao2.png', width='170', height='170')
			