/*Barra de Informações e Orcamento*/
section#barra {
    background: rgba(0, 119, 78, 0.68);
}
.circle {
    border: 3px solid #199bc3;
}
.informacao {
    border-top: 3px solid #199bc3;
    border-bottom: 3px solid #199bc3;
    border-right: 3px solid #199bc3;
    border-radius: 0px 35px 35px 0px;
    background-color: #00774e;
}
section#barra h4{
    color: white;
}
section#barra .circle svg{
    color: white;
}
.orcamentoHover:first-child:hover #circleOrc, .orcamentoHover:first-child:hover #bntOrcamento{
    background-color: rgb(0, 162, 211);
}
.Face:hover, .Insta:hover, .Google:hover, .Linkdin:hover {
    background-color: rgba(0, 162, 211, 1);
}
/*Menu*/
div#menuCont {
    background: rgba(0, 162, 211, 0.80);
}
div#menu #navbar li h4{
    color: white;
}
/* span.icon-bar {
    background-color: white;
}
.navbar-toggle{
    background-color: rgb(0, 0, 0);
} */
#navbar button#btnOrcamento2 {
    background: rgb(56, 70, 113);
    border: 1px solid black;
    color: white;
}
.nav > li > a:hover, .nav > li > a:hover h4{
    background-color: transparent !important;
    color: #00774e;
}
.nav > li > a:hover h4{
    border-bottom: 11px green solid;
}
/*Carrosel Invertido*/
#primary {
    background: rgba(255, 255, 255, 0.35);
}
#primary .bx-wrapper {
    border: 0px solid #fff;
    background: #00a2d3;
}
#primary .bx-wrapper img {
    border: 2px solid white;
}