body{
    padding-top: 0px;
}
section#barra .row, div.row {
    margin: 0px;
}
section#barra {
    /* background: rgba(0, 119, 78, 0.68);     */
    width: 100%;
    position: absolute;
    left: 0;
    /* top: 10px; */
    z-index: 1;
}
.circle {
    /* border: 3px solid #199bc3; */
    border-radius: 50%;
    width: 4em;
    height: 4em;
    padding: 0.5em;
    display: inline-block;
}
.orcamento:hover{
    text-decoration: underline; 
}
.Linkdin {
    background: url(../../../images/icon3.png)no-repeat;
    background-color: #00774e;
    height: 45px;
    width: 45px;
    background-position: -135px 0px;
    background-size: 180px;
    float: right;
    cursor: pointer;
    /* transition: all 0.6s; */
    border-radius: 50%;
}

.Google {
    background: url(../../../images/icon3.png)no-repeat;
    background-color: #00774e;
    height: 45px;
    width: 45px;
    background-position: -90px 0px;
    background-size: 180px;
    float: right;
    cursor: pointer;
    /* transition: all 0.6s; */
    margin-right: 5px;
    border-radius: 50%;
}
.Insta {
    background: url(../../../images/icon.png)no-repeat;
    background-color: #00774e;
    height: 38px;
    width: 38px;
    background-position: -48px 0px;
    float: right;
    cursor: pointer;
    /* transition: all 0.6s; */
}
.Face {
    background: url(../../../images/icon3.png)no-repeat;
    background-color: #00774e;
    height: 45px;
    width: 45px;
    background-position: 0px 0px;
    float: right;
    background-size: 180px;
    cursor: pointer;
    /*     transition: all 0.6s; */
    border-radius: 50%;
    margin-right: 5px;
}

.Social1{
    margin: 5px 0px;
}
.Social2{
    margin: 14px 0px;
}
section#barra h4{
    display: inline-block;
    /* color: white; */
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
}
.informacao {
/*     border-top: 3px solid #199bc3;
    border-bottom: 3px solid #199bc3;
    border-right: 3px solid #199bc3; */
    border-radius: 0px 35px 35px 0px;
    /* width: 137px; */
    display: inline-block;
    left: -7px;
    top: -22.9px;
    position: relative;
    /* background-color: #00774e; */
}
.telefone{
/*     margin-left: 6.6%;
    top: 13px;
    position: relative;
    font-size: 15px; */
}
section#barra>div>div{
    display: inline-block;
}