#primary {
    position: absolute;
    width: 12%;
    /* border: 2px solid white; */
    border-radius: 25px;
    top: 15%;
    right: 1%;
    padding: 1%;
    /* background: rgba(255, 255, 255, 0.35); */
    height: 64%;
}
.bx-wrapper .bx-prev{
    transform: scale(1.2) rotate(-90deg);
}
.bx-wrapper .bx-next{
    transform: scale(1.2) rotate(-90deg);
}
#primary .bx-wrapper {
    border: 0px solid;
    border-radius: 10px;       
    /* background: #00a2d3; */
}
#primary .bx-wrapper img {
    width: 135px;
    height: 130px;
    padding: 4px 4px;
    border-radius: 10px;
    /* border: 2px solid white; */
}
.bx-viewport{
    height: 390px !important;
}
.bx-wrapper .bx-controls-direction a{
    left: 38%
}
.bx-controls-direction .bx-prev{
    top: 93%;
}
.bx-controls-direction .bx-next{
    top: 6%;
}
#primary:hover .bx-controls-direction a{
  transition: all 1s;
  opacity: 1;
}
#primary .bx-wrapper img {
    border: 2px solid white;
}