section#carrossel h1 {
    position: relative;
    top: -400px;
    /* left: 40%; */
    text-shadow: 4px 3px 5px black;
    color: white;
    margin: 0 auto;
    width: 70%;
}
section .carousel-indicators{
    bottom: 115px;
}
section#carrossel li{
	background: #2b4862;
    height: 5px;
    width: 50px;
}
.container-fruid .btn.btn-danger {
    display: none;
}