section#clientes {
    background-color: #d4d6dc;
}
section#clientes#list-group li img{
    margin: 1%;
}
section#clientes .img-thumbnail{
    background-color: rgba(255, 255, 255, 0.23);
    border: none;
    box-shadow: 1px 1px 1px black;
    margin: 3%;
}
section#clientes .img-thumbnail:hover{
    border: 1px solid #00a2d3;
}
section#clientes #linha1{
    margin-top: 14%;
}
section#clientes ul{
    margin: 1%;
    top: -35px;
    position: relative;
}
/* section#clientes li{
    padding: 2%;
} */
img.imgAtencao.img-thumbnail {
    margin: auto;
    display: block;
}
section#alertGlobal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 75, 153, 0.5);
    z-index: 99;
}
.corpAlert.row {
    padding-top: 8%;
}
.Descricao {
    text-align: center;
    color: white;
    font-size: 20px;
}