
section#contato .form-control {
    display: inline-block;    /* width: 80%; */
}

section#contato .form-50 {
    width: 50%;
    display: inline-block;
}

section#contato form.form-login {
    max-width: 100%;
}

section#contato .form-group {
    margin-bottom: 10px;
    font-size: 16px;
}

section#contato .form-group.formRadio {
    text-align: center;
    font-size: 18px;
}

section#contato .form-group.formRadio label {
    margin: 0% 4% 0% 1%;
}
section#contato .form-group label{
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

section#contato input[type="radio"] {
    width: 16px;
    height: 16px;    /* margin: -14px 0px 0px; */
}

section#contato iframe {
    width: 100%;
    height: 350px;
    margin: auto;
    display: block;
}

.Mapa {
    border: 5px solid #aeb9ce;
}

section#contato {
    background: repeating-linear-gradient(45deg, #f5f5f5, #d7dce6 1px, #002d86 1px, #c0cbe0 1px);
    padding-top: 13%;
}
.botaoEnviar {
    width: 90px;
    font-size: 18px;
    background-color: #00a2d3;
}

.botaoEnviar:hover {
    color: #fff;
    background-color: #2b4862;
    border-color: #ffffff;
}

.map {
    padding-top: 4.9%;
}
.row.infoContato {
    position: relative;
    top: -30px;
}