section#dicas {
	top: 73px;
    position: relative;
}
section#dicas h1{
    color: white;
    text-shadow: 1px 0px 1px black;
    background: rgb(0, 162, 211);
    border: 5px solid #d8dbe6;
}
body{
	background-color: rgba(194, 202, 217, 0.65) !important;
}
section#dicas .tituloDicas{
    height: 70px;
}
section#dicas .noticia:not(.notDestaque) {
    /* width: 33%; */
    display: inline-block;
    min-height: 800px;
    max-height: 1000px;
    vertical-align: text-top;
    padding: 0px 10px;
}
section#dicas img.img-responsive {
    width: 350px;
    height: 350px;
    margin: auto;
}
section#dicas .row{
	margin: 0px;
}
section#dicas .noticia{
    background: white;
    border: 5px solid #d7dbe6;
}
section#dicas .noticia div{
	margin-bottom: 0px !important;
    background: white;
}
section#dicas span{
    background: white;
    font-size: 18px !important;
}
section#dicas .notDestaque .separator{
	display: inline-block;
    width: 50%;
    float: left;
}
section#dicas .notDestaque img.img-responsive {
    height: auto;
    width: 90%;
    /* margin: 0px; */
    margin-bottom: 10px;
}
section#dicas .notDestaque span{
    font-size: 20px !important;
}
nav#pagDicas {
    margin: auto;
    width: max-content;
    /* margin-top: 3%; */
}
.row.linhaPaginacao {
    margin-top: 60px;
}
section#logo_dicas {
    width: 100%;
    /* margin: 2px 0px 10px 0px; */
    background: repeating-linear-gradient(45deg, #f5f5f5, #d7dce6 1px, #002d86 1px, #c0cbe0 1px);
    padding: 5px 0px 7px 0px;
}

img.img-responsive.img_dicas {
    margin:  auto;
    width: 8%;
    box-shadow: 2px 2px 13px;
    cursor:  pointer;
}