/* 'section#empresa {
    background-color: rgba(100, 178, 128, 0.82);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 1px, rgb(92, 160, 117) 1px);
    background-size: 4px 4px;
}' */
section#empresa {
    background-color: #d7dce6;
    background-image: linear-gradient(to right, transparent 1px, rgba(0,0,0,.1) 1px);
    background-size: 4px 4px;
}
section#empresa .list-group-item{
    background-color: transparent;
    border: none;
}
section#empresa h3, p{
    color: white;
    text-shadow: 2px 2px 2px black;
}
section#empresa h3, p{
    margin-top: 0px;
}
section#empresa p{
    font-size: 22px;
}
section#empresa h3{
    font-size: 25px;
}
/* section#empresa .list-group-item:first-child {
    border-top-left-radius: -2px !important;
    border-top-right-radius: -2px !important
} */
section#empresa li.list-group-item img:hover {
    cursor: pointer;
    z-index: 11;
    -webkit-transform: scale(1.3)
}
section#empresa li.list-group-item img {
    display: inline-block;
    position: relative;
    border-radius: 100px;
    margin: 16px;
    border: 3px solid #00774e;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    -webkit-transition: all .4s ease-in;
    padding: 0px;
}
section#empresa ul#list-group {
    list-style: none;
    /* min-width: 250px; */
    /* max-width: 1080px; */
    padding: 1%;
    margin-top: -2%;
}
section#empresa .Info-Empresa{
    padding-top: 7%
}
section#empresa .ftEmp{
    margin-top: 2.5%;
    margin-left: 10.033333%;
}   