section#instalacao {
    width: 100%;
    padding-top: 9%;
    padding-bottom: 4%;
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.23), rgba(215, 220, 230, 0.39) 1px, rgba(0, 0, 0, 0.44) 1px, rgba(192, 203, 224, 0.41) 1px);
}
section#instalacao li#fotos{
	display: inline-block;
	float: left;
}
section#instalacao .Orcamento2 {
    position: absolute;
    top: 71%;
    text-align: center;
    width: 59%;
    margin: auto;
}
section#instalacao .row.telaInstalacao {
    top: 22%;
    position: relative;
    background: aliceblue;
    background: #eee;
    margin: 1% auto;
    width: 86%;
    border: 8px solid rgba(51, 122, 183, 0.34);
    border-style: groove;
}
section#instalacao li.list-group-item img:hover{
    cursor: pointer;
    -webkit-transform: scale(1.2);
}
section#instalacao svg.icon.icon-phone{
   width: 2em;
   height: 2em; 
}
section#instalacao h3{
    text-shadow: -1px 0px 1px black;    
}
section#instalacao p{
    font-size: 16px;
}
section#instalacao li.list-group-item img {
    display: inline-block;
    position: relative;
    border-radius: 100px;
    margin: 15px;
    border: 3px solid #00774e;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .4);
    -webkit-transition: all .4s ease-in;
    padding: 0px;
}