section#manutencao {
    width: 100%;
    padding-top: 9%;
    padding-bottom: 4%;
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.23), rgba(215, 220, 230, 0.39) 1px, rgba(0, 0, 0, 0.44) 1px, rgba(192, 203, 224, 0.41) 1px);
}
section#manutencao li#fotos{
    display: inline-block;
    float: left;
}
.Orcamento3{
    display: inline-block;
    top: 15px;
    text-align: center;
    width: 50%;
    position: relative;
}
.row.telaManutencao{
    top: -7px;
    position: relative;
    background: aliceblue;
    background: #eee;
    margin: auto;
    width: 86%;
    border: 8px solid rgba(51, 122, 183, 0.34);
    border-style: groove;
}
li.list-group-item img:hover{
    cursor: pointer;
    -webkit-transform: scale(1.2);
}
section#manutencao svg.icon.icon-phone{
   width: 2em;
   height: 2em; 
}
section#manutencao h3{
    text-shadow: -1px 0px 1px black;
    margin: 0.7%;
}
section#manutencao p{
    font-size: 16px;
    margin: 0%;
}
section#manutencao iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    border: none;
    left: 0px;
}
button.btn.btn-danger.btn-block.botaoFechar2 {
    width: initial;
    position: absolute;
    top: 18%;
    right: 105px;
    margin: 3px;
    /* border-radius: 19px; */
    font-size: 19px;
    visibility: visible !important;
}
section#manutencao li.list-group-item img {
    display: inline-block;
    position: relative;
    border-radius: 100px;
    margin: 15px;
    border: 3px solid #00774e;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .4);
    -webkit-transition: all .4s ease-in;
    padding: 0px;
}