div#menu{
    position: absolute;
    top: 85%;
    width: 100%;
    z-index: 10;
}
div#menuCont {
    /* background: rgba(0, 162, 211, 0.80); */
    height: 102px;
}
.nav > li > a:hover h4{
    /* border-bottom: 11px green solid; */
    cursor: pointer;
    padding-bottom: 29px;
}
.nav > li > a:hover, .nav > li > a:hover h4{
    background-color: transparent !important;
}
div#menu ul{
    left: 9%;
    position: relative;
    margin-top: 1.6%;
}
.sobMenu .logoMarca {
    opacity: 1
}
.sobMenu {
    position: fixed !important;
    top: 0% !important
}
.logoMarca {
    position: absolute;
    left: 1%;
    /* margin: 46px 0px 0px -32.5px; */
    opacity: 0;
    transition: all 1s;
}
span.icon-bar {
    background-color: white;
}
.navbar-toggle{
    background-color: rgb(0, 0, 0);
}
.sobMenu #navbar button#btnOrcamento2{
    opacity: 1;
}
#navbar button#btnOrcamento2 {
    background: rgb(56, 70, 113);
    font-size: 18px;
    border: 1px solid black;
    color: white;
    margin-top: 1.3%;
    opacity: 0;
    transition: all 1s;
}