section#orcamento {
    position: fixed;
    top: -100%;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.23), rgba(215, 220, 230, 0.39) 1px, rgba(0, 0, 0, 0.44) 1px, rgba(192, 203, 224, 0.41) 1px);    
    transition: top 1s;
}
.row.orcamentoTela {
    background: #eee;
    margin: 1% auto;
    border: 8px solid rgba(51, 122, 183, 0.34);
    border-style: groove;
}
.col-sm-6.ListaProduto.ocultar{
    overflow: auto;
    width: 50%;
    height: 488px;
}
section#orcamento .input-group {
    padding: 5px;
    width: 100%;
}
section#orcamento input#tQtd {
    width: 15%;
}
section#orcamento fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 2px;
    border-style: groove;
    border-color: #cecece;
}
section#orcamento legend {
    display: block;
    width: 43%;
    font-size: 21px;
    border-bottom: 0px;
}
section#orcamento fieldset#produto legend{
    width: 41%;
}
section#orcamento label {
    font-size: 20px;
    padding-right: 25px;
    margin-top: 15px;
}
button.btn.btn-danger.btn-block.botaoFechar {
    width: initial;
    position: absolute;
    right: 27px;
    top: 4%;
    z-index: 99;
}
section#orcamento button.btn.btn-primary.btn-block.botaoEnviarOrcmento {
    width: 32%;
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
section#orcamento input.radioOrc{
    margin-right: 5px;

}
section#orcamento a.exclImgGl {
    position: absolute;
    right: 1px;
    top: 0px;
    /* border-radius: 70px; */
    background: rgba(255, 0, 0, 0.57);
    width: 22px;
    height: 22px;
    box-shadow: 1px 1px 0px black;
}
section#orcamento .galeriaDesh img {
    max-width: 72px;
}
section#orcamento .exclImgGl span{
    color: white;
    font-size: 22px;
    padding: 0px 6px;
    top: -6px;
    position: relative;
}
section#orcamento  svg.icon.icon-lixeira{
    color: black;
    /* width: 90%; */
    font-size: 9px;
}
section#orcamento td{
    padding: 0px !important;
    text-align: center;
}
section#orcamento th{
    text-align: center;
}
/* button.btn.btn-primary {
    width: 50px;
    height: 40px;
    margin: 2px;
} */
section#orcamento .fotoOrc a.exclImgGl {
    display: none;
}

section#orcamento .fotoOrc img{
    width: 54px !important;
    margin: 2px;
    /* height: 40px; */
    /* background-color: white; */
}
.table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
    border: 1px solid black;
}
input#proQtdade{
    display: inline-block;
    width: 14%;
}
aside.galeriaDesh {
    position: relative;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-left: 1%;
}
/* button.btn.btn-danger.btn-block.botaoFechar {
    width: initial;
    position: absolute;
    right: 25px;
    margin: 3px;
    font-size: 19px;
} */
button.btn.btn-danger.btn-block.botaoFechar1 {
    width: initial;
    position: absolute;
    right: 8%;
    top: 24%;
}
section#orcamento .foto a {
    position: relative;
    cursor: pointer;
    width: initial;
    /* height: 80%; */
    font-size: 15px;
    text-align: center;
    padding-top: 0.5%;
    /* text-shadow: 0px 0px 1px rgb(210, 12, 23); */
    display: block;
    float: right;
    padding: 5px;
    border-radius: 5px;
}
section#orcamento .foto a input {
    opacity: 0.0;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(12, 82, 210);
}
div#bntOrcamento {
    cursor: pointer;
}
/* .orcamentoHover:first-child:hover #circleOrc, .orcamentoHover:first-child:hover #bntOrcamento{
    background-color: rgba(0, 162, 211, 0.7);
} */
.orcamentoHover:first-child:hover #bntOrcamento a{
    outline: 0;
}
section#orcamento textarea#proDescricao {
    resize: none;
    width: 100%;
}
section#orcamento #servico span#basic-addon2 {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    /* line-height: 1; */
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    top: -46px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
}
section#orcamento #servico .foto a {
    float: left;
    margin: 5px;
    top: -7px;
}
section#orcamento .btn-success{
    margin: auto;
    font-size: 18px;
    display: block;
    margin-bottom: 2%;
    margin-top: 2%;
}
section#orcamento .hiddenn{
    width: 84px;
    height: 31px;
    background: transparent;
    z-index: 9;
    right: 1px;
    cursor: no-drop;
    position: absolute;
}
section#orcamento .foto2 {
    opacity: 0.65;
}
.foto a:hover { 
    text-decoration:none; 
}
.botoesOrcamento {
    display: inline-block;
    position: relative;
    /* float: left; */
    width: 100%;
}

.adicionar, .enviar {
    width: 50%;
    display: inline-block;
}
.uploadArquivo{
    display: inline-block;
    /* vertical-align: middle; */
    float: right;
    top: 10px;
    position: relative;
}
.icon-arquivo{
    width: 1.3em;
    color: black;
}