section#parceiros {
    background: url(../../../images/textura.png);
    position: relative;
}
section#parceiros li{
    text-align: center;
    list-style-type: none;
}
.ul_parceiros li{
    background: #d6d6d6cc;
    border: 2px solid #aeb9ce;
}
.ul_parceiros li:hover {
    background: #bfc0c1;
    cursor: pointer;
}
.ul_parceiros .ativo{
    background: #bfc0c1;
}
.ul_parceiros img{
    display: none;
}
.row.selects {
    padding-top: 10%;
    padding-bottom: 3%;
    text-align: center;
}
#lista_parceiros ul{
    overflow: auto;
    height: 450px;
}
section#parceiros p, section#parceiros spam {
    color: black;
    text-shadow: 0px 1px 0px black;
    margin: 0px;
}
a.tituloNot {
    font-size: 18px;
}
div#map {
    height: 450px;
    border: 5px solid #aeb9ce;
    top: -25px;
}
.lista_parceiros {
    background: url(../../../images/marcadagua.png) no-repeat;
    background-size: 350px;
    background-position: 8% 3%;
}
section#parceiros label{    
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
    text-align: center;
} 
section#parceiros select{   

    padding: 1px 15px;
    height: 40px;
    font-size: 0.9em;
    border: 1px solid #aaa;
    border-radius: 6px;
    outline: 0;
    background-image: linear-gradient(#eff3f4,#fcfcfd 50%);
    min-width: 308px;
}
select#ufCidade {
    margin-left: 5%;
}
div#lista_parceiros {
    top: -25px;
    /* height: 400px; */
}
.modalParceiros {
    position: absolute;
    top: 190px;
    width: 100%;
    left: 0px;
    background: #eee;
    border: 8px solid rgba(51, 122, 183, 0.34);
    border-style: groove;
    padding: 20px 0px;
}
.btn-parceiros {
    width: initial;
    position: absolute;
    right: 1%;
    top: 2%;
    font-size: 19px;
}
.titulos p {
    padding: 4px;
    font-size: 22px;
}
.tituloNot{
    font-size: 22px;
    height: 48px;
}
.btn-detalhe {
    font-weight: normal;
    color: #51a2d7;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    cursor: pointer;
}
.ul_parceiros .tituloNot:hover{
    color: #337ab7;
    transition: font-size 0.5s;
    font-size: 24px !important;
}
img.foto_parceiro {
    width: 75px;
    margin-top: 5px;
}
div#content {
    width: 315px;
    min-width: 250px;
}
.gm-style-iw p, .gm-style-iw .btn-detalhe {
    font-size: 16px;
}
h1#firstHeading {
    margin: 5px 0px;
    font-size: 22px;
}
div#bodyContent {
    margin-left: 10px;
    margin-bottom: 10px;
}
.gm-style-iw {
    background-color: #d6d7d87a;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(139, 145, 148, 0.6);
    border-radius: 19px;
}
.gm-style-iw+div {
    width: 28px !important;
    height: 28px !important;
    top: 4px !important;
    right: 7px !important;
    border: 7px solid rgb(139, 145, 148);
    border-radius: 12px;
    box-shadow: 0 0 5px rgb(78, 81, 82);
}
.tabela_info p {
    padding: 7px;
    font-size: 21px;
    color: #51a2d7 !important;
}
.tabela_info {
    background: #ffffffa1;
    border-left: 1px solid #a2a1a1;
}
#modal_parceiros {
    left: 0;
    width: 100%;
    min-height: 690px;
    position: absolute;
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.23), rgba(215, 220, 230, 0.39) 1px, rgba(0, 0, 0, 0.44) 1px, rgba(192, 203, 224, 0.41) 1px);
    z-index: -1;
}
div#row_info .row {
    box-shadow: 1px 1px 1px #a2a1a1;
    margin: 2px 0px;
}
img.img-thumbnail.img_parceiros_modal {
    width: 150px;
    height: 150px;
}
select#ufCidade {
    width: 100%;
}
.detalhes {
    font-size: 16px;
}