section#produtos {
    background-color: #d7dce6;
    background-image:linear-gradient(to bottom, transparent 1px, rgba(0,0,0,.1) 1px);
    background-size: auto 2px;
}
section#produtos .row{
    padding: 4%;
}
section#produtos .produtosImg{
    padding: 2%;
}
section#produtos h3{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
    margin-top: 8%;
    padding: 0%;
}
section#produtos .segFrase h3{
    margin-top: 0%;
}
.segFrase{
    margin-left: 3.333333%;
}
li.list-group-item img:hover {
    cursor: pointer;
    z-index: 11;
    -webkit-transform: scale(1.2)
}
section#produtos li.list-group-item img {
    display: inline-block;
    position: relative;
    border-radius: 100px;
    margin: 15px;
    border: 3px solid #00774e;
    background-color: #ffffff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .4);
    -webkit-transition: all .4s ease-in;
    padding: 0px;
}
ul#list-group {
    list-style: none;
    /* margin-bottom: 3%; */
    min-width: 250px;
    max-width: 1080px;
    padding: 1%;
}
.list-group-item{
    background-color: transparent !important;
    border: transparent !important;
}
