section#servico {
    padding-top: 14%;
    padding-bottom: 11%;
    background: #aaacb0;
}
section#servico h3 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
    margin-top: 8%;
    padding: 0%;
}
button#btnOrcamento2 {
    background: #00a2d3;
    display: inline-block;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 1px black;
}
section#servico .iconorc{
    margin: auto;
    display: block;
    width: 28%;
}
section#servico .iconorc>a{ 
    display: inline-block;
    vertical-align: middle;
}
section#servico li.list-group-item#fotos img:hover,li.list-group-item#fotoInstalacao img:hover {
    cursor: pointer;
    -webkit-transform: none;
    z-index: 0;
}
section#servico li.list-group-item img {
    display: inline-block;
    position: relative;
    border-radius: 100px;
    margin: 15px;
    border: 3px solid #00774e;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .4);
    -webkit-transition: all .4s ease-in;
    padding: 0px;
}