.containerImg {
    position: relative;
}
.containerImg p.nomeProdSlid {
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    color: #efeeee;
    background: rgba(255, 255, 255, 0.38);
    border-radius: 5px;
    margin-bottom: 1px !important;
    text-align: center;
    top: 40px;
    position: relative;
}
.figImg{
	opacity: 0;
	position: absolute;
    top: 0%;
    background-color: rgba(0,0,0,.6);
    color: white;
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 1s;
}
.containerImg figcaption:hover {
    opacity: 1;
}